In [1]:
import pandas as pd

In [29]:
data = pd.read_csv("data/소상공인시장진흥공단_상가(상권)정보_서울_202206.csv")
data

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,23324279,제중건강원,NaN,D,소매,D10,건강/미용식품,D10A07,건강원,G47216,...,1156010600100410002034626,NaN,서울특별시 영등포구 영중로14길 11-17,150035,7250.0,NaN,1,NaN,126.907168,37.520613
1,24525909,민속악기사,NaN,D,소매,D04,취미/오락관련소매,D04A09,악기판매,G47593,...,1120012200101420011000227,NaN,서울특별시 성동구 용답5길 2,133849,4803.0,NaN,NaN,NaN,127.049018,37.566857
2,24715368,태평양진주,NaN,D,소매,D26,시계/귀금속소매,D26A01,시계/귀금속,G47830,...,1111015200100440000000001,금사랑투빌딩,서울특별시 종로구 서순라길 17-10,110390,3138.0,NaN,NaN,NaN,126.993530,37.571848
3,15554136,김선희꼼꼼국어교습소,NaN,R,학문/교육,R01,학원-보습교습입시,R01A01,학원-입시,P85501,...,1171011100101970003017195,NaN,서울특별시 송파구 위례성대로12길 31,138834,5640.0,NaN,2,NaN,127.121520,37.510967
4,17174175,비지트,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1165010100108540018009586,상랑의빌딩,서울특별시 서초구 동광로18길 82,137837,6572.0,NaN,1,NaN,126.991394,37.488375
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346224,18466695,신내역시티부동산공인중개사사무소,NaN,L,부동산,L01,부동산중개,L01A01,부동산중개,L68221,...,1126010500103150000000004,NaN,서울특별시 중랑구 봉화산로59길 25,131800,2057.0,NaN,NaN,NaN,127.103704,37.611201
346225,18455989,석정칼국수,NaN,Q,음식,Q04,분식,Q04A02,국수/만두/칼국수,I56194,...,1126010100102260010031461,NaN,서울특별시 중랑구 면목로 446,131817,2160.0,NaN,1,NaN,127.086895,37.591754
346226,18454507,서울왕도숯불갈비,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1123010300104380010033192,NaN,서울특별시 동대문구 약령시로 122-3,130862,2573.0,NaN,NaN,NaN,127.043357,37.582867
346227,18447435,칠교,NaN,F,생활서비스,F13,기타서비스업,F13A01,사업경영상담,M71531,...,1154510100106870000000003,대륭21차,서울특별시 금천구 범안로 1126,153803,8595.0,NaN,NaN,NaN,126.887062,37.465200
346228,18467074,마음공감심리상담센터,NaN,D,소매,D02,선물/팬시/기념품,D02A02,꽃집/꽃배달,G47851,...,1156012400100160000037446,문래파라곤,서울특별시 영등포구 선유로13길 11,150096,7281.0,201,NaN,NaN,126.887486,37.518960

In [64]:
df = data[(data["시군구명"]=="강남구" )&( data["상권업종대분류명"]=="음식")][["상호명", "상권업종대분류명","상권업종중분류명","상권업종소분류명", "도로명", "시군구명", "행정동명"]]
df.reset_index(drop=True, inplace=True)

In [19]:
df

                상호명 상권업종대분류명 상권업종중분류명     상권업종소분류명                도로명 시군구명
0            고향생막걸리       음식     유흥주점         민속주점     서울특별시 강남구 압구정로  강남구
1           의정부부대찌개       음식       한식    부대찌개/섞어찌개   서울특별시 강남구 역삼로83길  강남구
2              바른치킨       음식   닭/오리요리    후라이드/양념치킨   서울특별시 강남구 선릉로86길  강남구
3               알뤼르       음식   커피점/카페  커피전문점/카페/다방   서울특별시 강남구 삼성로85길  강남구
4                하레       음식     유흥주점        로바다야끼  서울특별시 강남구 영동대로85길  강남구
...             ...      ...      ...          ...                ...  ...
11426   육회왕자연어공주코엑스       음식       한식    한식/백반/한정식   서울특별시 강남구 삼성로96길  강남구
11427         밸런스포케       음식       양식     정통양식/경양식  서울특별시 강남구 강남대로94길  강남구
11428         덕수파스타       음식       양식      스파게티전문점     서울특별시 강남구 봉은사로  강남구
11429  타이니커피브루잉스튜디오       음식   커피점/카페  커피전문점/카페/다방  서울특별시 강남구 도산대로89길  강남구
11430         헬시플레저       음식    패스트푸드         피자전문  서울특별시 강남구 논현로102길  강남구

[11431 rows x 6 columns]

In [26]:
df.isnull().any()

상호명         False
상권업종대분류명    False
상권업종중분류명    False
상권업종소분류명    False
도로명         False
시군구명        False
dtype: bool

In [32]:
df["detail_cat"] = df["상권업종중분류명"] + " " + df["상권업종소분류명"]
df["detail_cat"] = df["detail_cat"].str.replace("/", " ")
df["detail_cat"]

0                 유흥주점 민속주점
1              한식 부대찌개 섞어찌개
2          닭 오리요리 후라이드 양념치킨
3        커피점 카페 커피전문점 카페 다방
4                유흥주점 로바다야끼
                ...
11426          한식 한식 백반 한정식
11427           양식 정통양식 경양식
11428            양식 스파게티전문점
11429    커피점 카페 커피전문점 카페 다방
11430            패스트푸드 피자전문
Name: detail_cat, Length: 11431, dtype: object

### 업종분류별 코사인 유사도

In [33]:
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.metrics.pairwise import cosine_similarity

In [57]:
vect = CountVectorizer(min_df=0, ngram_range=(1,2))
category = vect.fit_transform(df['detail_cat']) 
len(vect.vocabulary_)

284

In [47]:
cat_similarity = cosine_similarity(category, category)

### 리뷰 크롤링

In [79]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By

In [65]:
df["search_name"] = df["행정동명"] + " " + df["상호명"]
df["search_name"]

0             압구정동 고향생막걸리
1            대치2동 의정부부대찌개
2               대치4동 바른치킨
3                대치4동 알뤼르
4                 대치2동 하레
               ...
11426    삼성1동 육회왕자연어공주코엑스
11427          역삼1동 밸런스포케
11428          삼성2동 덕수파스타
11429    청담동 타이니커피브루잉스튜디오
11430          역삼1동 헬시플레저
Name: search_name, Length: 11431, dtype: object

In [66]:
df["url"] = ""

In [68]:
df

,상호명,상권업종대분류명,상권업종중분류명,상권업종소분류명,도로명,시군구명,행정동명,search_name,url
0,고향생막걸리,음식,유흥주점,민속주점,서울특별시 강남구 압구정로,강남구,압구정동,압구정동 고향생막걸리,
1,의정부부대찌개,음식,한식,부대찌개/섞어찌개,서울특별시 강남구 역삼로83길,강남구,대치2동,대치2동 의정부부대찌개,
2,바른치킨,음식,닭/오리요리,후라이드/양념치킨,서울특별시 강남구 선릉로86길,강남구,대치4동,대치4동 바른치킨,
3,알뤼르,음식,커피점/카페,커피전문점/카페/다방,서울특별시 강남구 삼성로85길,강남구,대치4동,대치4동 알뤼르,
4,하레,음식,유흥주점,로바다야끼,서울특별시 강남구 영동대로85길,강남구,대치2동,대치2동 하레,
...,...,...,...,...,...,...,...,...,...
11426,육회왕자연어공주코엑스,음식,한식,한식/백반/한정식,서울특별시 강남구 삼성로96길,강남구,삼성1동,삼성1동 육회왕자연어공주코엑스,
11427,밸런스포케,음식,양식,정통양식/경양식,서울특별시 강남구 강남대로94길,강남구,역삼1동,역삼1동 밸런스포케,
11428,덕수파스타,음식,양식,스파게티전문점,서울특별시 강남구 봉은사로,강남구,삼성2동,삼성2동 덕수파스타,
11429,타이니커피브루잉스튜디오,음식,커피점/카페,커피전문점/카페/다방,서울특별시 강남구 도산대로89길,강남구,청담동,청담동 타이니커피브루잉스튜디오,
11430,헬시플레저,음식,패스트푸드,피자전문,서울특별시 강남구 논현로102길,강남구,역삼1동,역삼1동 헬시플레저,

In [90]:
for i, name in enumerate(df['search_name'].tolist()):
    try:
        if __name__ == "__main__":
            options = Options()
            options.headless = True  # 브라우저 자동화 작업을 화면에 표시하지 않게 됨
            driver = webdriver.Chrome(executable_path=ChromeDriverManager().install(), options=options)
            url = f"https://m.map.naver.com/search2/search.naver?query={name}&sm=hty&style=v5"
            driver.get(url)
            df.iloc[i,-1] = driver.find_element(By.XPATH, "/html/body/div[4]/div[2]/ul/li/div[1]/a[2]").get_attribute("data-cid")

    except Exception as e1:
        continue


driver.quit()

C:\Users\NTX550\AppData\Local\Temp\ipykernel_15324\3025022700.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=ChromeDriverManager().install(), options=options)
Exception ignored in: <function Service.__del__ at 0x0000018C834D7310>
Traceback (most recent call last):
  File "C:\Users\NTX550\anaconda3\lib\site-packages\selenium\webdriver\common\service.py", line 170, in __del__
    self.stop()
  File "C:\Users\NTX550\anaconda3\lib\site-packages\selenium\webdriver\common\service.py", line 145, in stop
    self.send_remote_shutdown_command()
  File "C:\Users\NTX550\anaconda3\lib\site-packages\selenium\webdriver\common\service.py", line 127, in send_remote_shutdown_command
    if not self.is_connectable():
  File "C:\Users\NTX550\anaconda3\lib\site-packages\selenium\webdriver\common\service.py", line 116, in is_connectable
    return utils.is_connectable(self.port)
  File "C:\Users\NTX550\anaconda3\lib\site-packages\selenium\webdriver\common\utils.py", line 107, in is_connectable
    socket_ = socket.create_connection((host, port), 1)
  File "C:\Users\NTX550\anaconda3\lib\socket.py", line 832, in create_connection
    sock.connect(sa)
KeyboardInterrupt:

KeyboardInterrupt:

In [164]:
new_df = pd.DataFrame()

In [165]:
new_df["url"] = df["url"].unique()
new_df

            url
0    1496470647
1      20919742
2      37230376
3
4    1170958687
..          ...
865  1763512932
866   520212248
867  1803102223
868  1280317575
869  1082185161

[870 rows x 1 columns]

In [166]:
new_df.drop(index=3, inplace=True)
new_df

            url
0    1496470647
1      20919742
2      37230376
4    1170958687
5    1676441391
..          ...
865  1763512932
866   520212248
867  1803102223
868  1280317575
869  1082185161

[869 rows x 1 columns]

In [168]:
new_df = new_df.reset_index(drop=True)

In [121]:
for i in sorted(df["url"].unique())[1:]:
    print(df[df["url"]==i]["상호명"])

881    심퍼티쿠시
Name: 상호명, dtype: object
1193    반미362
Name: 상호명, dtype: object
648    호프마을
Name: 상호명, dtype: object
1311    라운지
Name: 상호명, dtype: object
1795    뷰티풀샐러드&도시락
Name: 상호명, dtype: object
735    쥬씨
Name: 상호명, dtype: object
139    시마스시
Name: 상호명, dtype: object
946    미타우동비스트로
Name: 상호명, dtype: object
1632    생각나는김밥
Name: 상호명, dtype: object
340    카페스토리
Name: 상호명, dtype: object
2025    STAGE9
Name: 상호명, dtype: object
662    이삭김밥
Name: 상호명, dtype: object
1713    로로
Name: 상호명, dtype: object
1819    호돌이반점
Name: 상호명, dtype: object
141    이트앤토크
Name: 상호명, dtype: object
1241    펠트
Name: 상호명, dtype: object
284        할리스커피
433    할리스커피강남역점
Name: 상호명, dtype: object
1177    분식이이래도되는가
Name: 상호명, dtype: object
1248    더위스키
Name: 상호명, dtype: object
1621    곱창마을
Name: 상호명, dtype: object
1338    회장님댁
Name: 상호명, dtype: object
1389    벨루치
Name: 상호명, dtype: object
1064    한남동24시감자탕
Name: 상호명, dtype: object
749    심연한우
Name: 상호명, dtype: object
1275    썸띵어바웃커피
Name: 상호명, dtype: object
2471    까페리빈
Name: 상호명, dtype: object
1850    마노
Name: 상호명, dtype: object
1568    크리스피크림
Name: 상호명, dtype: object
502    구정칼국수
Name: 상호명, dtype: object
524     스타벅스
531     스타벅스
589     스타벅스
1302    스타벅스
1667    스타벅스
1776    스타벅스
Name: 상호명, dtype: object
691    보쌈집
Name: 상호명, dtype: object
509    커피가좋아
Name: 상호명, dtype: object
129    밤푸스
Name: 상호명, dtype: object
494    강남설렁탕
Name: 상호명, dtype: object
1250    명륜진사갈비
Name: 상호명, dtype: object
1487    델마르
Name: 상호명, dtype: object
1350    한양김밥
Name: 상호명, dtype: object
368    지밀
Name: 상호명, dtype: object
1627    길동우동
Name: 상호명, dtype: object
1878    오늘,맥주한잔
Name: 상호명, dtype: object
2249    KFC일원동점
Name: 상호명, dtype: object
1780    카페더수
Name: 상호명, dtype: object
2181    끌레르봉봉
Name: 상호명, dtype: object
682    교동한식
Name: 상호명, dtype: object
61    돔가라오케
Name: 상호명, dtype: object
342    도산분식
Name: 상호명, dtype: object
1333    미엔아이
Name: 상호명, dtype: object
1470    룸서비스301
Name: 상호명, dtype: object
742    두잉
Name: 상호명, dtype: object
929    강남곱창이야기
Name: 상호명, dtype: object
2322    지트
Name: 상호명, dtype: object
306    모자이크
Name: 상호명, dtype: object
1388    태권브이
Name: 상호명, dtype: object
1293    첸트로
Name: 상호명, dtype: object
1068    바세츠아이스크림
Name: 상호명, dtype: object
401    버틀러
Name: 상호명, dtype: object
634    블랑제리쉐종
Name: 상호명, dtype: object
1755    은하수
Name: 상호명, dtype: object
317    배스킨라빈스31
Name: 상호명, dtype: object
798    그린비
Name: 상호명, dtype: object
390    예담추어탕
Name: 상호명, dtype: object
716    김가네한티점
Name: 상호명, dtype: object
624    뉴욕
Name: 상호명, dtype: object
1261    샤크
Name: 상호명, dtype: object
1011    미소식당
Name: 상호명, dtype: object
23    곰바위
Name: 상호명, dtype: object
1722    한옥집김치찜GFC몰점
Name: 상호명, dtype: object
1058    영영
Name: 상호명, dtype: object
643    동해산새우구이
Name: 상호명, dtype: object
552    청국장&보리밥
Name: 상호명, dtype: object
210    브래서리
Name: 상호명, dtype: object
919    완도전복마을
Name: 상호명, dtype: object
7    강강술래
Name: 상호명, dtype: object
1138    수타우동겐
1589    수타우동겐
Name: 상호명, dtype: object
30    우성김밥
Name: 상호명, dtype: object
1192    김동진장호왕곱창
Name: 상호명, dtype: object
2253    다미정식
Name: 상호명, dtype: object
183    또래오래강남논현점
Name: 상호명, dtype: object
57    하나은행
Name: 상호명, dtype: object
705    피자나라치킨공주강남역삼점
Name: 상호명, dtype: object
1651    스테이슬로우,커피
Name: 상호명, dtype: object
2368    작품
Name: 상호명, dtype: object
1260    싱카이
Name: 상호명, dtype: object
555    백세주마을
Name: 상호명, dtype: object
406    스타벅스
475    스타벅스
566    스타벅스
Name: 상호명, dtype: object
601     스타벅스
1831    스타벅스
Name: 상호명, dtype: object
253    스타벅스
Name: 상호명, dtype: object
875    커피빈
Name: 상호명, dtype: object
392    파리바게뜨
Name: 상호명, dtype: object
544    도미노피자개포점
Name: 상호명, dtype: object
2082    미스터피자
Name: 상호명, dtype: object
2186    KFC삼성동점
Name: 상호명, dtype: object
1010    파파존스피자
Name: 상호명, dtype: object
1125    일일향1호점
Name: 상호명, dtype: object
4    하레
Name: 상호명, dtype: object
1405    하루
Name: 상호명, dtype: object
1019    하나
Name: 상호명, dtype: object
707    백암왕순대
Name: 상호명, dtype: object
1308    vin.ga
Name: 상호명, dtype: object
815    오토김밥
Name: 상호명, dtype: object
865     로바다야끼방추
1094    로바다야끼방추
Name: 상호명, dtype: object
847    펍더블린
Name: 상호명, dtype: object
654    동인동
Name: 상호명, dtype: object
27    크리스피크림
Name: 상호명, dtype: object
641    커피빈
Name: 상호명, dtype: object
242    명오뎅빠
Name: 상호명, dtype: object
527    예향
Name: 상호명, dtype: object
666    하나은행
Name: 상호명, dtype: object
562    모퉁이
Name: 상호명, dtype: object
823    샌프란시스코
Name: 상호명, dtype: object
1458    비어씨티
Name: 상호명, dtype: object
174    BBQ치킨
Name: 상호명, dtype: object
81    페리카나치킨
Name: 상호명, dtype: object
1134    교촌치킨
Name: 상호명, dtype: object
731    교촌치킨
Name: 상호명, dtype: object
138    놀부
Name: 상호명, dtype: object
667    스타벅스대치점
Name: 상호명, dtype: object
8    탐앤탐스
Name: 상호명, dtype: object
291    아이티
Name: 상호명, dtype: object
511    둘둘치킨삼성역점
Name: 상호명, dtype: object
1132    강구항
Name: 상호명, dtype: object
415    정육식당
Name: 상호명, dtype: object
1084    히라메키
Name: 상호명, dtype: object
127    삼성화랑
Name: 상호명, dtype: object
274    우리집
Name: 상호명, dtype: object
2367    소풍
Name: 상호명, dtype: object
1854    한솥신사동현대고앞점
Name: 상호명, dtype: object
297    한주먹
Name: 상호명, dtype: object
1035    남도랑
Name: 상호명, dtype: object
519    함소아
Name: 상호명, dtype: object
583    문라이트
Name: 상호명, dtype: object
1639    로얄수제돈까스
Name: 상호명, dtype: object
1279    청년다방
Name: 상호명, dtype: object
1149    카페
Name: 상호명, dtype: object
1699    홍콩다방
Name: 상호명, dtype: object
846    피렌체
Name: 상호명, dtype: object
2320    알부자알요리전문점
Name: 상호명, dtype: object
1137    백암왕순대순대국
Name: 상호명, dtype: object
2373    반포등심
Name: 상호명, dtype: object
82    참나무집
Name: 상호명, dtype: object
87    본죽
Name: 상호명, dtype: object
1232    아우어베이커리
Name: 상호명, dtype: object
2306    아이해브어드림
Name: 상호명, dtype: object
537    커피트리
Name: 상호명, dtype: object
97    씨에스유통
Name: 상호명, dtype: object
854    이디야커피
Name: 상호명, dtype: object
147    동심
Name: 상호명, dtype: object
1748    선릉김밥
Name: 상호명, dtype: object
314    BHC치킨
Name: 상호명, dtype: object
1382    포메인레드
Name: 상호명, dtype: object
396    커피플리즈
Name: 상호명, dtype: object
697    엠엠티에이치커피
Name: 상호명, dtype: object
782    네모오징어
Name: 상호명, dtype: object
1252    칸타레
Name: 상호명, dtype: object
860    천진영감
Name: 상호명, dtype: object
1553    뿌리
Name: 상호명, dtype: object
1207    지코바치킨
Name: 상호명, dtype: object
710    에머이
Name: 상호명, dtype: object
1231    빌라드지디
Name: 상호명, dtype: object
1259    피자헛
Name: 상호명, dtype: object
1114    현대식당
Name: 상호명, dtype: object
1924    코칭
Name: 상호명, dtype: object
110    구구치킨
Name: 상호명, dtype: object
1182    티랩차연구소
Name: 상호명, dtype: object
1411    카페
Name: 상호명, dtype: object
594    델리샵
Name: 상호명, dtype: object
1245    와려
Name: 상호명, dtype: object
2298    커피데이
Name: 상호명, dtype: object
2435    붕가
Name: 상호명, dtype: object
516    에이보드
Name: 상호명, dtype: object
1559    세광양대창
Name: 상호명, dtype: object
234    현대그린푸드
Name: 상호명, dtype: object
2067    남도감자탕
Name: 상호명, dtype: object
1407    톰딕슨카페(TomDixonCafe)
Name: 상호명, dtype: object
1547    할리스커피
Name: 상호명, dtype: object
984    봉구스밥버거
Name: 상호명, dtype: object
1705    브리오슈도레
Name: 상호명, dtype: object
2012    식겁라면
Name: 상호명, dtype: object
1184    커피중독
Name: 상호명, dtype: object
1052    데일리청담
Name: 상호명, dtype: object
1464    토부
Name: 상호명, dtype: object
533     핀치카페
1050      핀치
Name: 상호명, dtype: object
1154    멜로워
Name: 상호명, dtype: object
350    하이힐
Name: 상호명, dtype: object
931    목포식당
Name: 상호명, dtype: object
95    텀블러비어역삼직영점
Name: 상호명, dtype: object
2462    글린커피
Name: 상호명, dtype: object
1708    홍콩다방
Name: 상호명, dtype: object
1742    플라넌
Name: 상호명, dtype: object
1727    거자필반
Name: 상호명, dtype: object
730    후라이드참잘하는집
Name: 상호명, dtype: object
1849    해봉
Name: 상호명, dtype: object
841    콩이네집
Name: 상호명, dtype: object
974    한성칼국수
Name: 상호명, dtype: object
165    홍팥집
Name: 상호명, dtype: object
142    완산골명가압구정2호점
Name: 상호명, dtype: object
684      던킨도넛
1307    던킨도너츠
Name: 상호명, dtype: object
78    탐앤탐스
Name: 상호명, dtype: object
2238    커피플랜트
Name: 상호명, dtype: object
1539    배꼽양대창
Name: 상호명, dtype: object
1151    배스킨라빈스31
Name: 상호명, dtype: object
2115        본죽
2446    본죽&비빔밥
Name: 상호명, dtype: object
1751    치즈룸
Name: 상호명, dtype: object
694    아구본가첨벙
Name: 상호명, dtype: object
103    바우골
Name: 상호명, dtype: object
1342    오코노미야끼
Name: 상호명, dtype: object
53     만나분식
528    만나분식
Name: 상호명, dtype: object
403    참복
Name: 상호명, dtype: object
64    광화문미진
Name: 상호명, dtype: object
288    오피스알파
Name: 상호명, dtype: object
942    씨벨커피
Name: 상호명, dtype: object
1141    아티제
Name: 상호명, dtype: object
1228    주주패밀리
Name: 상호명, dtype: object
228    한스
Name: 상호명, dtype: object
450    ARISTACOFFEE
Name: 상호명, dtype: object
794    윤화돈까스기사식당
Name: 상호명, dtype: object
24    숙아채콩나물국밥
Name: 상호명, dtype: object
605    레트로오븐
Name: 상호명, dtype: object
92    쿠바
Name: 상호명, dtype: object
2360    오목집
Name: 상호명, dtype: object
1066    고향집
Name: 상호명, dtype: object
1256    혜성손만두
Name: 상호명, dtype: object
2448    청자매운갈비찜
Name: 상호명, dtype: object
1073    병천순대국
Name: 상호명, dtype: object
1343    두꺼비정육식당
Name: 상호명, dtype: object
225    자르뎅페르뒤
Name: 상호명, dtype: object
560    삼성한방삼계탕
Name: 상호명, dtype: object
77    대가
Name: 상호명, dtype: object
557    진다함
Name: 상호명, dtype: object
1277    소문난김밥집
Name: 상호명, dtype: object
171    최가네버섯샤브매운탕칼국수
Name: 상호명, dtype: object
28    두루
Name: 상호명, dtype: object
1715    참치스토리
Name: 상호명, dtype: object
1113    사조참치삼성점
Name: 상호명, dtype: object
834    압구정순대국
Name: 상호명, dtype: object
596    디초콜릿커피앤드
Name: 상호명, dtype: object
400    스타벅스
550    스타벅스
Name: 상호명, dtype: object
1336    카페포트
Name: 상호명, dtype: object
424    용이네술집
Name: 상호명, dtype: object
42    굳
Name: 상호명, dtype: object
371    한솥도시락삼성아파트대치점
Name: 상호명, dtype: object
111    스윙
Name: 상호명, dtype: object
1848    청담터미널
Name: 상호명, dtype: object
1555    단골많은꽈배기
Name: 상호명, dtype: object
2381    카베하네
Name: 상호명, dtype: object
651    더케이
Name: 상호명, dtype: object
1626    이자카야하루
Name: 상호명, dtype: object
1004    양식당
Name: 상호명, dtype: object
295    원조한방삼계탕
Name: 상호명, dtype: object
2097    더드림
Name: 상호명, dtype: object
1401    패티앤베지스
Name: 상호명, dtype: object
2141    철수네포장마차
Name: 상호명, dtype: object
737    떡쌈시대
Name: 상호명, dtype: object
346    서울떡집
Name: 상호명, dtype: object
817    더케이크스토리
Name: 상호명, dtype: object
1322    이삭토스트
Name: 상호명, dtype: object
54    선능갈비
Name: 상호명, dtype: object
1220    휴
Name: 상호명, dtype: object
389    스페이스지
Name: 상호명, dtype: object
386    티식스
Name: 상호명, dtype: object
1408    싸프란겔커피
Name: 상호명, dtype: object
1239    부머스
Name: 상호명, dtype: object
1808    유
Name: 상호명, dtype: object
378    강남이베리코흑돼지
Name: 상호명, dtype: object
1023    신림백순대전주집
Name: 상호명, dtype: object
1510    세광양대창
Name: 상호명, dtype: object
2139    나의 가야
Name: 상호명, dtype: object
296    얌얌브레드
Name: 상호명, dtype: object
1645    세라젬웰카페
Name: 상호명, dtype: object
1100    푸드조각
Name: 상호명, dtype: object
1406    제이스킹커피
Name: 상호명, dtype: object
2350    서호김밥
Name: 상호명, dtype: object
831    담미온
Name: 상호명, dtype: object
510    맥주창고
Name: 상호명, dtype: object
10    호
Name: 상호명, dtype: object
1216    역전할머니맥주
Name: 상호명, dtype: object
1018    김치삼겹살
Name: 상호명, dtype: object
843    엘크레
Name: 상호명, dtype: object
1309    올레비어
Name: 상호명, dtype: object
1497    이삭토스트
Name: 상호명, dtype: object
13    터치카페
Name: 상호명, dtype: object
1224    꽁티드툴레아
Name: 상호명, dtype: object
131    던킨도너츠
Name: 상호명, dtype: object
868    라무진
Name: 상호명, dtype: object
1354    닭장수후라이드
Name: 상호명, dtype: object
477    아띠
Name: 상호명, dtype: object
2447    라이프
Name: 상호명, dtype: object
1254    시그널헌터
Name: 상호명, dtype: object
126    우리커피숍
Name: 상호명, dtype: object
1371    잠수교집
Name: 상호명, dtype: object
713    어화
Name: 상호명, dtype: object
191    모나코플라워
Name: 상호명, dtype: object
1404    더포터하우스
Name: 상호명, dtype: object
1384    누렁국수
Name: 상호명, dtype: object
1105    커피정원
Name: 상호명, dtype: object
0    고향생막걸리
Name: 상호명, dtype: object
1942    장독대
Name: 상호명, dtype: object
1386    랭맥
Name: 상호명, dtype: object
803    옛날칼국수
Name: 상호명, dtype: object
2396    차이797
Name: 상호명, dtype: object
1414    호별관
Name: 상호명, dtype: object
1264    노브랜드버거
Name: 상호명, dtype: object
176    종인이네만두
Name: 상호명, dtype: object
2420    엄마밥상
Name: 상호명, dtype: object
32    대감왕족발
Name: 상호명, dtype: object
660    코코버블티
Name: 상호명, dtype: object
1351    고급오복수산
Name: 상호명, dtype: object
1208    뚝배기양평해장국
Name: 상호명, dtype: object
1540    까페
Name: 상호명, dtype: object
211    삼미집
Name: 상호명, dtype: object
1065    카페비밀
Name: 상호명, dtype: object
645    수도시락
Name: 상호명, dtype: object
354    우리가
Name: 상호명, dtype: object
1493    스시유리
Name: 상호명, dtype: object
66    물음표
Name: 상호명, dtype: object
1674    금커피별빙수
Name: 상호명, dtype: object
185    한교방서울냉면곰탕
Name: 상호명, dtype: object
793    민쿡의080부대찌개
Name: 상호명, dtype: object
1061    샤이닝
Name: 상호명, dtype: object
1476    이공족발
Name: 상호명, dtype: object
1791    지코바양념치킨
Name: 상호명, dtype: object
1247    스무디킹
Name: 상호명, dtype: object
1107    엠티니스
Name: 상호명, dtype: object
2172    장미술상
Name: 상호명, dtype: object
164    몬
Name: 상호명, dtype: object
1352    노브랜드버거
Name: 상호명, dtype: object
720    쥬씨
Name: 상호명, dtype: object
935    아야커피
Name: 상호명, dtype: object
532    고반식당
Name: 상호명, dtype: object
1069    부산아지매국밥
Name: 상호명, dtype: object
2303    에이라이브
Name: 상호명, dtype: object
830    장독대
Name: 상호명, dtype: object
1844    모퉁이
Name: 상호명, dtype: object
1387    레드락코리아
Name: 상호명, dtype: object
2078    토마토도시락
Name: 상호명, dtype: object
1174    제이라운지
Name: 상호명, dtype: object
45    로즈
Name: 상호명, dtype: object
1306    대치상회
Name: 상호명, dtype: object
155    미칠비루디져트아뜰리에
Name: 상호명, dtype: object
2383    철화
Name: 상호명, dtype: object
1170    터치카페
Name: 상호명, dtype: object
1641    지랄닭발
Name: 상호명, dtype: object
224    논현생고기
Name: 상호명, dtype: object
1838    상무초밥
Name: 상호명, dtype: object
1996    마왕족발삼성점
Name: 상호명, dtype: object
219    오디
Name: 상호명, dtype: object
1165    메콩타이
Name: 상호명, dtype: object
1198    사주카페크림
Name: 상호명, dtype: object
220    강남꿀돼지
Name: 상호명, dtype: object
816    블루글라스
Name: 상호명, dtype: object
5    유미분식
Name: 상호명, dtype: object
1998    한솥
Name: 상호명, dtype: object
370    바른치킨
Name: 상호명, dtype: object
216    청실식당
Name: 상호명, dtype: object
1468    쿠차라
Name: 상호명, dtype: object
1265    푸라닭치킨
Name: 상호명, dtype: object
1109    가츠가게
Name: 상호명, dtype: object
2247    청담몽로
Name: 상호명, dtype: object
457    스칼라티움
Name: 상호명, dtype: object
178    기꾸
Name: 상호명, dtype: object
898    바토스파르나스몰
Name: 상호명, dtype: object
2151    원베이커리
Name: 상호명, dtype: object
1048    에그드랍
Name: 상호명, dtype: object
405    오뎅집
Name: 상호명, dtype: object
1396    피그인더가든
Name: 상호명, dtype: object
2401    디초콜릿커피앤
Name: 상호명, dtype: object
1413    프로포즈
Name: 상호명, dtype: object
1016    더스트릿
Name: 상호명, dtype: object
994     바르다김선생
1465    바르다김선생
Name: 상호명, dtype: object
2324    브라운치킨삼성점
Name: 상호명, dtype: object
1072    메종드위스키
Name: 상호명, dtype: object
1373    못난이꽈배기
Name: 상호명, dtype: object
2001    빕스
Name: 상호명, dtype: object
726    탐스런
Name: 상호명, dtype: object
383    명륜진사갈비
Name: 상호명, dtype: object
393    노브랜드
Name: 상호명, dtype: object
1644    영덕물회
Name: 상호명, dtype: object
1213    목탄장
Name: 상호명, dtype: object
1946    골뱅이신사
Name: 상호명, dtype: object
2380    한앤둘치킨
Name: 상호명, dtype: object
1135    개포수산
Name: 상호명, dtype: object
455    유정
Name: 상호명, dtype: object
871    본죽
Name: 상호명, dtype: object
363    뚜레쥬르
Name: 상호명, dtype: object
791     카페베네
2020    카페베네
Name: 상호명, dtype: object
908    커피온리논현
Name: 상호명, dtype: object
902    88시장버거
Name: 상호명, dtype: object
209    명동손칼국수
Name: 상호명, dtype: object
1710    평양일미
Name: 상호명, dtype: object
826    안사부
Name: 상호명, dtype: object
717    역전우동0410
Name: 상호명, dtype: object
398    더퀸
982    더퀸
Name: 상호명, dtype: object
2453    백년불고기물갈비
Name: 상호명, dtype: object
199    죽이야기
Name: 상호명, dtype: object
2065    커피하우스
Name: 상호명, dtype: object
534    피자헛
Name: 상호명, dtype: object
1716    더홀덤라운지포차
2072          더바
Name: 상호명, dtype: object
751    로프트
Name: 상호명, dtype: object
252     엔제리너스
2068    엔제리너스
2412    엔제리너스
Name: 상호명, dtype: object
811    통영다찌
Name: 상호명, dtype: object
1006    제주항
Name: 상호명, dtype: object
1498    로마옥
Name: 상호명, dtype: object
1473    스폰티니
Name: 상호명, dtype: object
2449    더볶이
Name: 상호명, dtype: object
630    보나비아티제뱅뱅사거리점
Name: 상호명, dtype: object
703    만요
Name: 상호명, dtype: object
88    w카페
Name: 상호명, dtype: object
1148    라이브
Name: 상호명, dtype: object
2457    브릿지
Name: 상호명, dtype: object
508    포라이브
Name: 상호명, dtype: object
833    육시리
Name: 상호명, dtype: object
1999    에이쓰리커피집
Name: 상호명, dtype: object
2375    충무할매김밥
Name: 상호명, dtype: object
1240    DUSK
Name: 상호명, dtype: object
256    새마을화로
Name: 상호명, dtype: object
312    처갓집식당
Name: 상호명, dtype: object
218     춘천닭갈비
2273    춘천닭갈비
Name: 상호명, dtype: object
235    시골밥상
Name: 상호명, dtype: object
647    사또치킨
Name: 상호명, dtype: object
463    청담동명인등심
Name: 상호명, dtype: object
1075    한울타리
Name: 상호명, dtype: object

988    진성칼국수
Name: 상호명, dtype: object
408    청숫골
Name: 상호명, dtype: object
73    차이나타운
Name: 상호명, dtype: object
1440    아베끄청담
Name: 상호명, dtype: object
729    성하루
Name: 상호명, dtype: object
2293    김밥천국
Name: 상호명, dtype: object
2192    비빔밥
Name: 상호명, dtype: object
221    안토니오
Name: 상호명, dtype: object
1291    영인성
Name: 상호명, dtype: object
232    아바이왕순대국
Name: 상호명, dtype: object
348    한국순대국
Name: 상호명, dtype: object
258     그때그집
2286    그때그집
Name: 상호명, dtype: object
2087    양자강
Name: 상호명, dtype: object
1753    아쿠아디마레
Name: 상호명, dtype: object
607    사임당떡집
Name: 상호명, dtype: object
2228    여민락
2394    여민락
Name: 상호명, dtype: object
280    이조복집
Name: 상호명, dtype: object
56    사천옥
Name: 상호명, dtype: object
2175    최가네버섯샤브매운탕칼국수
Name: 상호명, dtype: object
2124    깐부치킨강남역플래티넘점
Name: 상호명, dtype: object
498    은행나무집
Name: 상호명, dtype: object
1077    혜정복집
Name: 상호명, dtype: object
486    코리아
Name: 상호명, dtype: object
505    육천중국요리
Name: 상호명, dtype: object
1689    청담동명품포차
Name: 상호명, dtype: object
903    러빙헛카페
Name: 상호명, dtype: object
995    삼첩분식
Name: 상호명, dtype: object
320     카페
2307    카페
Name: 상호명, dtype: object
70    선유도
Name: 상호명, dtype: object
1461    돈블랑
Name: 상호명, dtype: object
2091    호신각
Name: 상호명, dtype: object
1121    무화잠
Name: 상호명, dtype: object
2325    대영식당
Name: 상호명, dtype: object
2308    옛날그맛명동칼국수
Name: 상호명, dtype: object
1647    미앙
Name: 상호명, dtype: object
372    가을겨울
Name: 상호명, dtype: object
278    유정낙지청담점
Name: 상호명, dtype: object
319    페블
Name: 상호명, dtype: object
1060    프린스
Name: 상호명, dtype: object
657    퀸실내포차
Name: 상호명, dtype: object
665    사보텐
828    사보텐
Name: 상호명, dtype: object
84    곤지암할매소머리국밥
Name: 상호명, dtype: object
1185    촌돼지마을
Name: 상호명, dtype: object
292    남경
Name: 상호명, dtype: object
2233    러쉬
Name: 상호명, dtype: object
1051    파운야드
Name: 상호명, dtype: object
293    BLOOM
Name: 상호명, dtype: object
878    초선
Name: 상호명, dtype: object
381    그래머시
Name: 상호명, dtype: object
1143    찰미당
Name: 상호명, dtype: object
374    어사출또
Name: 상호명, dtype: object
1570    유성칼국수
Name: 상호명, dtype: object
1024    진양재순대
Name: 상호명, dtype: object
686    맥도날드
Name: 상호명, dtype: object
1317    텐지몽
Name: 상호명, dtype: object
1377    스시이토
Name: 상호명, dtype: object
639    치킨뱅이
Name: 상호명, dtype: object
1871    오븐에빠진닭강남2호점
Name: 상호명, dtype: object
1329    대낚식당
Name: 상호명, dtype: object
973    KFC대치동점
Name: 상호명, dtype: object
1263    스무디킹
Name: 상호명, dtype: object
2043    TANTAN
Name: 상호명, dtype: object
25     커피빈
29     커피빈
157    커피빈
Name: 상호명, dtype: object
301    모모식당
Name: 상호명, dtype: object
626    청국장과보리밥
Name: 상호명, dtype: object
421        아마폴라델리
561        아마폴라델리
2038    카페드아마폴라델리
Name: 상호명, dtype: object
1634    제이카페
Name: 상호명, dtype: object
230    커피나무
Name: 상호명, dtype: object
1118    라퓨타
Name: 상호명, dtype: object
1271    크림슨젤라또
Name: 상호명, dtype: object
1341    몽비현스터디카페
Name: 상호명, dtype: object
264    커피양탕국
Name: 상호명, dtype: object
1937    다쿠아랑
Name: 상호명, dtype: object
1646    땀땀
Name: 상호명, dtype: object
1867    두배고기
Name: 상호명, dtype: object
850    사람사는고깃집김일도
Name: 상호명, dtype: object
1217    삼백플러스
Name: 상호명, dtype: object
747    포엔분짜
Name: 상호명, dtype: object
2388    레몬트리카페
Name: 상호명, dtype: object
1457    소르비
Name: 상호명, dtype: object
194    행복식당
Name: 상호명, dtype: object
1692    인계동껍데기
Name: 상호명, dtype: object
2232    현경
Name: 상호명, dtype: object
2451    삼성원조양곱창
Name: 상호명, dtype: object
1832    마구로젠신사점
Name: 상호명, dtype: object
1552    청년피자
Name: 상호명, dtype: object
2144    이바디
Name: 상호명, dtype: object
669    쥬씨강남역세무서점
Name: 상호명, dtype: object
696    임팩트
Name: 상호명, dtype: object
1237    가마골
Name: 상호명, dtype: object
2092    유정삼겹
Name: 상호명, dtype: object
180    저스트스테이크
Name: 상호명, dtype: object
910    남자피자
Name: 상호명, dtype: object
687    할머니포장마차
Name: 상호명, dtype: object
1697    디저트공장
Name: 상호명, dtype: object
1482    청담애드
Name: 상호명, dtype: object
1578    명가식당
Name: 상호명, dtype: object
2166    가마솥감자탕
Name: 상호명, dtype: object
514    국대떡볶기
Name: 상호명, dtype: object
1972    꽃새우영번지
Name: 상호명, dtype: object
546    마코토
Name: 상호명, dtype: object
732    가인
Name: 상호명, dtype: object
1129    리거양꼬치
Name: 상호명, dtype: object
2399    브라운홀릭
Name: 상호명, dtype: object
2107    CGV청담씨네시티
Name: 상호명, dtype: object
177    가마솥식당
Name: 상호명, dtype: object
513    샴
Name: 상호명, dtype: object
2225    선릉순대집
Name: 상호명, dtype: object
1709    봉화냉면
Name: 상호명, dtype: object
49    남원추어탕
Name: 상호명, dtype: object
1119    스타벅스신압구정점
Name: 상호명, dtype: object
525    마산아구찜
Name: 상호명, dtype: object
80    전주순대국감자탕
Name: 상호명, dtype: object
738    황소양곱창
Name: 상호명, dtype: object
2083    파리바게뜨삼성카페점
Name: 상호명, dtype: object
63    코지
Name: 상호명, dtype: object
332    더브라운
Name: 상호명, dtype: object
244    스타벅스논현힐탑
275        힐탑식당
Name: 상호명, dtype: object
132    아침가리긴밭
Name: 상호명, dtype: object
1091    역삼정
Name: 상호명, dtype: object
2188    을지로골뱅이
Name: 상호명, dtype: object
379    무공돈까스
Name: 상호명, dtype: object
429    명동칼국수
Name: 상호명, dtype: object
839    목포낙지횟집
Name: 상호명, dtype: object
448    을지로골뱅이
Name: 상호명, dtype: object
68    푸드카페김밥천국
Name: 상호명, dtype: object
330    커피포유
Name: 상호명, dtype: object
1    의정부부대찌개
Name: 상호명, dtype: object
203    논현보물섬
Name: 상호명, dtype: object
159    양식당더램키친
Name: 상호명, dtype: object
1485    까사밀
Name: 상호명, dtype: object
1047    투썸플레이스
Name: 상호명, dtype: object
409    테이블스푼
Name: 상호명, dtype: object
2312    치치라보
Name: 상호명, dtype: object
2044    주주포장마차
Name: 상호명, dtype: object
1481    다왕래
Name: 상호명, dtype: object
1276    대박닭강정
Name: 상호명, dtype: object
399    올래곱창&보리밥
Name: 상호명, dtype: object
353    아워홈아워홈빌딩
Name: 상호명, dtype: object
2257    미미일식
Name: 상호명, dtype: object
1858    하모
Name: 상호명, dtype: object
876    화랑불닭발
Name: 상호명, dtype: object
1700    선술집
Name: 상호명, dtype: object
1712     호남집
2220    호남마을
Name: 상호명, dtype: object
883    명랑시대쌀핫도그
Name: 상호명, dtype: object
745    수서골목냉면
Name: 상호명, dtype: object
2056    씨네드쉐프압구정점
Name: 상호명, dtype: object
570    에스프레소로이
Name: 상호명, dtype: object
105    초원양꼬치
Name: 상호명, dtype: object
2413    배스킨라빈스31
Name: 상호명, dtype: object
1922    일치프리아니
Name: 상호명, dtype: object
899    스타벅스코엑스사거리점
Name: 상호명, dtype: object
1888    커피빈
Name: 상호명, dtype: object
136    커피빈
Name: 상호명, dtype: object
1020    살롱락피쉬
Name: 상호명, dtype: object
622    유끼스시
Name: 상호명, dtype: object
802    코드이스케이프
Name: 상호명, dtype: object
1799    라떼킹
Name: 상호명, dtype: object
1204    레아레스토랑
Name: 상호명, dtype: object
1115    참다래
Name: 상호명, dtype: object
1425    이디아커피
Name: 상호명, dtype: object
894    커피빈코리아선릉로93길점
Name: 상호명, dtype: object
967    파스쿠찌국악고점
Name: 상호명, dtype: object
997    그집
Name: 상호명, dtype: object
1894    파파존스피자
Name: 상호명, dtype: object
281    파리바게뜨
Name: 상호명, dtype: object
43    선오뎅
Name: 상호명, dtype: object
1299    청담이상청담2호점
Name: 상호명, dtype: object
756    도곡한우소머리국밥
Name: 상호명, dtype: object
565    몽리
Name: 상호명, dtype: object
685    항방양꼬치
Name: 상호명, dtype: object
1518    ASSOULINE
Name: 상호명, dtype: object
487    고향역
Name: 상호명, dtype: object
1698    소문난숯불갈비
Name: 상호명, dtype: object
304    김밥카페
Name: 상호명, dtype: object
151    도모다찌
Name: 상호명, dtype: object
1997    붕크
Name: 상호명, dtype: object
307    이제이베이킹
Name: 상호명, dtype: object
535    할리스커피
Name: 상호명, dtype: object
1574    팔당닭발&오징어
Name: 상호명, dtype: object
1002    전주한식
Name: 상호명, dtype: object
2084    소나
Name: 상호명, dtype: object
674    롯데리아
Name: 상호명, dtype: object
1624    복대감일원동점
Name: 상호명, dtype: object
2221    파라다이스
Name: 상호명, dtype: object
1009    갓덴스시
Name: 상호명, dtype: object
547      도너츠
603    이에나파이
Name: 상호명, dtype: object
602     김가네
1412    김가네
Name: 상호명, dtype: object
491     토프레소
1300    토프레소
Name: 상호명, dtype: object
569    생어거스틴
Name: 상호명, dtype: object
156    우드스탁2003
Name: 상호명, dtype: object
2235    만두의전설
Name: 상호명, dtype: object
1629    발롱
Name: 상호명, dtype: object
2302    나비
Name: 상호명, dtype: object
2288    카페보니또
Name: 상호명, dtype: object
576    덕이닭갈비닭찜
Name: 상호명, dtype: object
1385    부엌
Name: 상호명, dtype: object
959    메디아
Name: 상호명, dtype: object
792    깐부치킨압구정현대점
Name: 상호명, dtype: object
926    스토리
Name: 상호명, dtype: object
628    JS가든
Name: 상호명, dtype: object
1604    카페프레스카
Name: 상호명, dtype: object
1720    봉구스밥버거
Name: 상호명, dtype: object
1063    동대문엽기떡볶이
Name: 상호명, dtype: object
19    홈스테드
Name: 상호명, dtype: object
17    이조한아름갈비
Name: 상호명, dtype: object
971    매화양꼬치
Name: 상호명, dtype: object
927    설송원
Name: 상호명, dtype: object
395    함흥면옥
Name: 상호명, dtype: object
336     투다리
851     투다리
2214    투다리
Name: 상호명, dtype: object
2252    육갑식당
Name: 상호명, dtype: object
1557    뱅뱅막국수
Name: 상호명, dtype: object
1071    커피
Name: 상호명, dtype: object
1827    하남돼지집
Name: 상호명, dtype: object
740     스타벅스
2010    스타벅스
Name: 상호명, dtype: object
1301    스시산원
Name: 상호명, dtype: object
364    4.2캐쥬얼다이닝&베이커리
Name: 상호명, dtype: object
1199    돈불리제담
Name: 상호명, dtype: object
1605    얌얌
Name: 상호명, dtype: object
1910    미엘르
Name: 상호명, dtype: object
683    또봉이통닭
Name: 상호명, dtype: object
658    길농원
Name: 상호명, dtype: object
1930    피자알볼로
Name: 상호명, dtype: object
790    아리노마마
Name: 상호명, dtype: object
1834    대림옥
Name: 상호명, dtype: object
655    놀란치킨
Name: 상호명, dtype: object
1221    투썸플레이스
Name: 상호명, dtype: object
1034    반하는보쌈앤밥상
Name: 상호명, dtype: object
50    희앤락
Name: 상호명, dtype: object
866    청라일식
Name: 상호명, dtype: object
344    새벽바다
Name: 상호명, dtype: object
2005    두어마리
Name: 상호명, dtype: object
483    통돼지두루치기김치찌개
Name: 상호명, dtype: object
1669    스시킨
Name: 상호명, dtype: object
1315    마미
Name: 상호명, dtype: object
249    라그릴리아강남스퀘어점
Name: 상호명, dtype: object
44    가로수펍
Name: 상호명, dtype: object
892    901W
Name: 상호명, dtype: object
2180    바르다김선생
Name: 상호명, dtype: object
1932    산
Name: 상호명, dtype: object
11    한성양꼬치
Name: 상호명, dtype: object
832    주몽
Name: 상호명, dtype: object
783    오징어청춘
Name: 상호명, dtype: object
308    브라운핸즈도곡점
Name: 상호명, dtype: object
1215    레드비틀
Name: 상호명, dtype: object
771    메이드
Name: 상호명, dtype: object
357    카페
Name: 상호명, dtype: object
1038    북촌순두부&보쌈논현본점
Name: 상호명, dtype: object
247    에스카페
Name: 상호명, dtype: object
1212    온달집
Name: 상호명, dtype: object
2143    일마레동물메디컬센터
Name: 상호명, dtype: object
2079    하루에
Name: 상호명, dtype: object
2230    논현참족발
Name: 상호명, dtype: object
328    폴바셋코엑스몰점
636         폴바셋
Name: 상호명, dtype: object
20    한우곱창
Name: 상호명, dtype: object
1339    공차
Name: 상호명, dtype: object
452    브롱스
Name: 상호명, dtype: object
1044    김봉남포차
Name: 상호명, dtype: object
2174    카페
Name: 상호명, dtype: object
444    사보텐코엑스점
Name: 상호명, dtype: object
434    잠바주스
Name: 상호명, dtype: object
1145    판도라
Name: 상호명, dtype: object
316    할리스
Name: 상호명, dtype: object
952    폴바셋압구정2호점
Name: 상호명, dtype: object
757    어가
Name: 상호명, dtype: object
351    탐앤탐스일원점
Name: 상호명, dtype: object
1794    슈퍼판
Name: 상호명, dtype: object
1866    땡스브레드엔커피
Name: 상호명, dtype: object
1508    7번가피자
Name: 상호명, dtype: object
2379    유씨씨커피한국
Name: 상호명, dtype: object
2071    바르다김선생
Name: 상호명, dtype: object
309    퀸즈
Name: 상호명, dtype: object
118    바르다김선생
Name: 상호명, dtype: object
2374    라망드쉐프
Name: 상호명, dtype: object
449    씽씽
Name: 상호명, dtype: object
1001    아티제청담제일점
Name: 상호명, dtype: object
579    하남돼지집
Name: 상호명, dtype: object
267    사량도
Name: 상호명, dtype: object
1459    리즈하우스
Name: 상호명, dtype: object
981    언덕집
Name: 상호명, dtype: object
269    카페에이제이
Name: 상호명, dtype: object
2361    문어랑
Name: 상호명, dtype: object
1037    정성한줄
Name: 상호명, dtype: object
1797    니혼슈바슈토
Name: 상호명, dtype: object
72    화이브앤투버거저니
Name: 상호명, dtype: object
2014    스시쇼우키
Name: 상호명, dtype: object
1460    바른치킨
Name: 상호명, dtype: object
753    서울전통육개장
Name: 상호명, dtype: object
661       현대옥
2370    전주현대옥
Name: 상호명, dtype: object
130    카페톨릭스
Name: 상호명, dtype: object
1332    artisee
Name: 상호명, dtype: object
55    호우시절
Name: 상호명, dtype: object
2155    크라프트카페
Name: 상호명, dtype: object
819    노메
Name: 상호명, dtype: object
2276    상록아트홀
Name: 상호명, dtype: object
970    샐러디
Name: 상호명, dtype: object
1743    앤티앤스
Name: 상호명, dtype: object
1512    비첸향
Name: 상호명, dtype: object
668    코스모왕꼬치
Name: 상호명, dtype: object
895    도꼬돈카츠
Name: 상호명, dtype: object
1857    항차이
Name: 상호명, dtype: object
2004    딸부자네불백
Name: 상호명, dtype: object
12    노란고무줄
Name: 상호명, dtype: object
1800    보물선
Name: 상호명, dtype: object
2287    알라프리마
Name: 상호명, dtype: object
1837    슬링
Name: 상호명, dtype: object
812    육덕
Name: 상호명, dtype: object
402    소프트리
Name: 상호명, dtype: object
853    할랄가이즈
Name: 상호명, dtype: object
681    아우라지왕순대
Name: 상호명, dtype: object
678    라무진
Name: 상호명, dtype: object
255    배스킨라빈스31
Name: 상호명, dtype: object
26     커피빈
285    커피빈
300    커피빈
476    커피빈
Name: 상호명, dtype: object
478    투썸플레이스
Name: 상호명, dtype: object
996    브라이드밸리웨딩홀
Name: 상호명, dtype: object
2434    텍사스
Name: 상호명, dtype: object
1596    빽다방
2049    빽다방
Name: 상호명, dtype: object
47    올리브
Name: 상호명, dtype: object
1286    보리스태번
Name: 상호명, dtype: object
761    스파게티스토리
Name: 상호명, dtype: object
495     카페리빈
2154    카페리빈
Name: 상호명, dtype: object
74    곱창고
Name: 상호명, dtype: object
2162    할리스커피
Name: 상호명, dtype: object
137    스타벅스
Name: 상호명, dtype: object
15    밀크포차
Name: 상호명, dtype: object
387    모로미식당
Name: 상호명, dtype: object
2    바른치킨
Name: 상호명, dtype: object
521    라플레이스
Name: 상호명, dtype: object
1781    북촌순두부보쌈
Name: 상호명, dtype: object
479    가온
Name: 상호명, dtype: object
585    명인등심
Name: 상호명, dtype: object
2017    토마토김밥
Name: 상호명, dtype: object
1628    고기고샵
Name: 상호명, dtype: object
1672    한솥
Name: 상호명, dtype: object
734    옐로우문
Name: 상호명, dtype: object
311      빌리엔젤
548    빌리엔젤강남
Name: 상호명, dtype: object
2035    리얼스페인
Name: 상호명, dtype: object
365    여수
Name: 상호명, dtype: object
711    니뽕내뽕
Name: 상호명, dtype: object
529    라떼킹
Name: 상호명, dtype: object
2304    트래픽
Name: 상호명, dtype: object
2111    동전
Name: 상호명, dtype: object
849    바움
Name: 상호명, dtype: object
992    역전우동0410강남역태극당점
Name: 상호명, dtype: object
2119    믹솔로지
Name: 상호명, dtype: object
2019    스타벅스포스코사거리점
Name: 상호명, dtype: object
750    신토불이정육식당
Name: 상호명, dtype: object
2266    핫이슈
Name: 상호명, dtype: object
2080    레끌레드크리스탈
Name: 상호명, dtype: object
861    강남밥상
Name: 상호명, dtype: object
1320    장인닭갈비
Name: 상호명, dtype: object
773    강남미나리삼겹살
Name: 상호명, dtype: object
9    카페그리다
Name: 상호명, dtype: object
807    하남돼지집압구정직영점
Name: 상호명, dtype: object
604    명동할머니국수
Name: 상호명, dtype: object
568    이모네정육식당
Name: 상호명, dtype: object
1327    정식카페
Name: 상호명, dtype: object
2073    드코닝
Name: 상호명, dtype: object
2149    더청춘
Name: 상호명, dtype: object
391    도미노피자
Name: 상호명, dtype: object
2193    노크노크
Name: 상호명, dtype: object
2321    한남북엇국
Name: 상호명, dtype: object
549    컬렉션서울
Name: 상호명, dtype: object
1549    가마솥밥
Name: 상호명, dtype: object
595    진태양푼등갈비김치찌게
Name: 상호명, dtype: object
1724    손맛순대국
Name: 상호명, dtype: object
1155    풍천민물장어구이
Name: 상호명, dtype: object
2444    카페루치아
Name: 상호명, dtype: object
2081    공리청담점
Name: 상호명, dtype: object
1695    SHABUBOAT
Name: 상호명, dtype: object
265    피자스쿨
Name: 상호명, dtype: object
606    크리스피크림도넛
Name: 상호명, dtype: object
625    빌리엔젤
Name: 상호명, dtype: object
273    황소곱창
Name: 상호명, dtype: object
650    쥬씨역삼상록회관점
Name: 상호명, dtype: object
62    그림
Name: 상호명, dtype: object
2319    오뎅매니아
Name: 상호명, dtype: object
1931    일언족발
Name: 상호명, dtype: object
1422    60계치킨
Name: 상호명, dtype: object
1445    스시카이세이
Name: 상호명, dtype: object
2156    베이비기네스
Name: 상호명, dtype: object
656    민해스시
Name: 상호명, dtype: object
709    무한장어
Name: 상호명, dtype: object
497    큰입아구찜
Name: 상호명, dtype: object
435    푸세울닭
Name: 상호명, dtype: object
991    에프터
Name: 상호명, dtype: object
1788    차이
Name: 상호명, dtype: object
612    김밥까페
Name: 상호명, dtype: object
499    마포갈비&갈매기
Name: 상호명, dtype: object
1201    속이꽉찬만두99.9
Name: 상호명, dtype: object
777    미우가
Name: 상호명, dtype: object
500    놀숲압구정역점
Name: 상호명, dtype: object
411    산들
Name: 상호명, dtype: object
1280    루이스
Name: 상호명, dtype: object
1796    체스터치킨
Name: 상호명, dtype: object
482    크래프트한스
Name: 상호명, dtype: object
488    청춘화로
Name: 상호명, dtype: object
384    베트남쌀국수포몬스
Name: 상호명, dtype: object
1008    마포갈매기삼성역점
Name: 상호명, dtype: object
1869    생활맥주
Name: 상호명, dtype: object
593    청담오뎅
Name: 상호명, dtype: object
805    팔이커피
Name: 상호명, dtype: object
623    이태리부대찌개선릉점
Name: 상호명, dtype: object
523    육덕고기
Name: 상호명, dtype: object
538    신전떡볶이
Name: 상호명, dtype: object
240    푸드2900
Name: 상호명, dtype: object
179    스타벅스
Name: 상호명, dtype: object
2454    탄
Name: 상호명, dtype: object
21    커피팩토리
Name: 상호명, dtype: object
473    싸움의고수
Name: 상호명, dtype: object
728    엘이베리코
Name: 상호명, dtype: object
382    깐부치킨세곡점
Name: 상호명, dtype: object
558    김남완초밥
Name: 상호명, dtype: object
672    담미온
Name: 상호명, dtype: object
671    두껍삼역삼직영점
Name: 상호명, dtype: object
443    부대찌개연
Name: 상호명, dtype: object
1080    리원
Name: 상호명, dtype: object
799    미니하이보
Name: 상호명, dtype: object
2229    오마뎅
Name: 상호명, dtype: object
765    가장맛있는족발
Name: 상호명, dtype: object
1205    어거스트힐
Name: 상호명, dtype: object
627    전주비빔밥
Name: 상호명, dtype: object
2377    다옴
Name: 상호명, dtype: object
540    굿푸드앤카페
Name: 상호명, dtype: object
2011    한입
Name: 상호명, dtype: object
748    양평해장국
Name: 상호명, dtype: object
733    해담일식
Name: 상호명, dtype: object
780    피어나
Name: 상호명, dtype: object
2086    소보루치킨
Name: 상호명, dtype: object
724    계식당
Name: 상호명, dtype: object
632    커피빈코리아역삼동태광타워점
Name: 상호명, dtype: object
768    삼군김치찌개
Name: 상호명, dtype: object
822    하남돼지집강남역CGV점
Name: 상호명, dtype: object
1194    사주타로
Name: 상호명, dtype: object
299    게방식당

Name: 상호명, dtype: object
65    제이에스테이블
Name: 상호명, dtype: object
536    하루
Name: 상호명, dtype: object
693    청담미역
Name: 상호명, dtype: object
246    짬뽕지존
Name: 상호명, dtype: object
616    쉐이크쉑
Name: 상호명, dtype: object
489    양재역점
Name: 상호명, dtype: object
212    스타벅스
Name: 상호명, dtype: object
618    타코벨역삼점
Name: 상호명, dtype: object
2002    스타일커피
Name: 상호명, dtype: object
2376    와인주막차차역삼점
Name: 상호명, dtype: object
664    본도시락
Name: 상호명, dtype: object
2164    강남진해장
Name: 상호명, dtype: object
233    거실
Name: 상호명, dtype: object

In [124]:
test = df

In [169]:
no_dupl = test.drop_duplicates(["url"])[test["url"]!=""]

C:\Users\NTX550\AppData\Local\Temp\ipykernel_15324\1060823042.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  no_dupl = test.drop_duplicates(["url"])[test["url"]!=""]

In [172]:
new_df = pd.merge(no_dupl[["상호명", "url"]], new_df, how="left", on="url")

In [173]:
new_df["score"] = ""
new_df["review_cnt"] = ""
new_df["pos"] = ""
new_df["review"] = ""
new_df

          상호명         url score review_cnt pos review
0      고향생막걸리  1496470647
1     의정부부대찌개    20919742
2        바른치킨    37230376
3          하레  1170958687
4        유미분식  1676441391
..        ...         ...   ...        ...  ..    ...
864  백년불고기물갈비  1763512932
865         탄   520212248
866       브릿지  1803102223
867      글린커피  1280317575
868      까페리빈  1082185161

[869 rows x 6 columns]

In [174]:
new_df["url"] = "https://m.place.naver.com/restaurant/" + new_df["url"]
new_df

,상호명,url,score,review_cnt,pos,review
0,고향생막걸리,https://m.place.naver.com/restaurant/1496470647,,,,
1,의정부부대찌개,https://m.place.naver.com/restaurant/20919742,,,,
2,바른치킨,https://m.place.naver.com/restaurant/37230376,,,,
3,하레,https://m.place.naver.com/restaurant/1170958687,,,,
4,유미분식,https://m.place.naver.com/restaurant/1676441391,,,,
...,...,...,...,...,...,...
864,백년불고기물갈비,https://m.place.naver.com/restaurant/1763512932,,,,
865,탄,https://m.place.naver.com/restaurant/520212248,,,,
866,브릿지,https://m.place.naver.com/restaurant/1803102223,,,,
867,글린커피,https://m.place.naver.com/restaurant/1280317575,,,,
868,까페리빈,https://m.place.naver.com/restaurant/1082185161,,,,

In [180]:

for i, url in enumerate(new_df["url"].tolist()):
    url1 = url
    url2 = url + '/review/visitor'
    if __name__ == "__main__":
        options = Options()
        options.headless = True
        driver = webdriver.Chrome(executable_path=ChromeDriverManager().install(), options=options)
        sub_driver = webdriver.Chrome(executable_path=ChromeDriverManager().install(), options=options)
        driver.get(url1)
        sub_driver.get(url2)
    score = 0
    review_cnt = 0
    pos = ""
    
    try :
        try:
            a = '/html/body/div[3]/div/div/div/div[2]/div[1]/div[2]/span[1]/em'
            score = driver.find_element(By.XPATH,a).text
        except:
            score = 0
            
        try:   
            b = '/html/body/div[3]/div/div/div/div[2]/div[1]/div[2]/span[2]/a/em'
            review_cnt = driver.find_element(By.XPATH,b).text
        except:
            review_cnt = 0 
            
        try:
            c = "/html/body/div[3]/div/div/div/div[6]/div/div[1]/div/ul/li[1]/div/div/strong"
            pos = driver.find_element(By.XPATH, c).text
        except:
            c = "/html/body/div[3]/div/div/div/div[6]/div/div[2]/div/ul/li[1]/div/div/strong"
            pos = driver.find_element(By.XPATH, c).text

        reviews = sub_driver.find_elements(By.CLASS_NAME, "YeINN")
        review = ""
        for j in range(len(reviews)):
            review += reviews[j].find_element(By.CLASS_NAME, "zPfVt").text + " "

        new_df.iat[i, 2] = score
        new_df.iat[i, 3] = review_cnt
        new_df.iat[i, 4] = pos
        new_df.iat[i, 5] = review
    except:
        new_df.iat[i, 2] = "N"
        new_df.iat[i, 3] = "N"
        new_df.iat[i, 4] = "N"
        new_df.iat[i, 5] = "N"
        print(f"{i}번째에서 에러 발생")

driver.quit()

C:\Users\NTX550\AppData\Local\Temp\ipykernel_15324\1496565258.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=ChromeDriverManager().install(), options=options)
C:\Users\NTX550\AppData\Local\Temp\ipykernel_15324\1496565258.py:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  sub_driver = webdriver.Chrome(executable_path=ChromeDriverManager().install(), options=options)

4번째에서 에러 발생
7번째에서 에러 발생
11번째에서 에러 발생
14번째에서 에러 발생
18번째에서 에러 발생
22번째에서 에러 발생
24번째에서 에러 발생
25번째에서 에러 발생
29번째에서 에러 발생
35번째에서 에러 발생
48번째에서 에러 발생
49번째에서 에러 발생
54번째에서 에러 발생
62번째에서 에러 발생
65번째에서 에러 발생
67번째에서 에러 발생
73번째에서 에러 발생
74번째에서 에러 발생
76번째에서 에러 발생
79번째에서 에러 발생
82번째에서 에러 발생
86번째에서 에러 발생
94번째에서 에러 발생
101번째에서 에러 발생
102번째에서 에러 발생
110번째에서 에러 발생
112번째에서 에러 발생
114번째에서 에러 발생
120번째에서 에러 발생
127번째에서 에러 발생
129번째에서 에러 발생
137번째에서 에러 발생
142번째에서 에러 발생
143번째에서 에러 발생
147번째에서 에러 발생
149번째에서 에러 발생
150번째에서 에러 발생
153번째에서 에러 발생
158번째에서 에러 발생
159번째에서 에러 발생
170번째에서 에러 발생
173번째에서 에러 발생
180번째에서 에러 발생
186번째에서 에러 발생
196번째에서 에러 발생
200번째에서 에러 발생
201번째에서 에러 발생
204번째에서 에러 발생
214번째에서 에러 발생
215번째에서 에러 발생
218번째에서 에러 발생
235번째에서 에러 발생
246번째에서 에러 발생
253번째에서 에러 발생
257번째에서 에러 발생
259번째에서 에러 발생
263번째에서 에러 발생
265번째에서 에러 발생
272번째에서 에러 발생
278번째에서 에러 발생
297번째에서 에러 발생
298번째에서 에러 발생
299번째에서 에러 발생
302번째에서 에러 발생
319번째에서 에러 발생
320번째에서 에러 발생
326번째에서 에러 발생
328번째에서 에러 발생
330번째에서 에러 발생
332번째에서 에러 발생
336번째에서 에러 발생
349번째에서 에러 발생
350번째에서 에러 발생
352번째에서 에러 발생
355번째에서 에러 발생
358번째에서 에러 발생
359번째에서 에러 발생
364번째에서 에러 발생
366번째에서 에러 발생
369번째에서 에러 발생
371번째에서 에러 발생
377번째에서 에러 발생
378번째에서 에러 발생
394번째에서 에러 발생
410번째에서 에러 발생
416번째에서 에러 발생
417번째에서 에러 발생
419번째에서 에러 발생
421번째에서 에러 발생
424번째에서 에러 발생
429번째에서 에러 발생
431번째에서 에러 발생
433번째에서 에러 발생
434번째에서 에러 발생
444번째에서 에러 발생
449번째에서 에러 발생
452번째에서 에러 발생
455번째에서 에러 발생
457번째에서 에러 발생
462번째에서 에러 발생
470번째에서 에러 발생
478번째에서 에러 발생
488번째에서 에러 발생
491번째에서 에러 발생
492번째에서 에러 발생
493번째에서 에러 발생
498번째에서 에러 발생
501번째에서 에러 발생
503번째에서 에러 발생
511번째에서 에러 발생
512번째에서 에러 발생
513번째에서 에러 발생
522번째에서 에러 발생
527번째에서 에러 발생
529번째에서 에러 발생
530번째에서 에러 발생
535번째에서 에러 발생
541번째에서 에러 발생
552번째에서 에러 발생
568번째에서 에러 발생
573번째에서 에러 발생
574번째에서 에러 발생
582번째에서 에러 발생
583번째에서 에러 발생
591번째에서 에러 발생
596번째에서 에러 발생
608번째에서 에러 발생
610번째에서 에러 발생
626번째에서 에러 발생
628번째에서 에러 발생
636번째에서 에러 발생
650번째에서 에러 발생
651번째에서 에러 발생
660번째에서 에러 발생
669번째에서 에러 발생
670번째에서 에러 발생
673번째에서 에러 발생
681번째에서 에러 발생
683번째에서 에러 발생
692번째에서 에러 발생
703번째에서 에러 발생
711번째에서 에러 발생
718번째에서 에러 발생
722번째에서 에러 발생
723번째에서 에러 발생
725번째에서 에러 발생
731번째에서 에러 발생
741번째에서 에러 발생
742번째에서 에러 발생
745번째에서 에러 발생
746번째에서 에러 발생
751번째에서 에러 발생
763번째에서 에러 발생
766번째에서 에러 발생
782번째에서 에러 발생
788번째에서 에러 발생
790번째에서 에러 발생
792번째에서 에러 발생
802번째에서 에러 발생
805번째에서 에러 발생
806번째에서 에러 발생
807번째에서 에러 발생
811번째에서 에러 발생
814번째에서 에러 발생
817번째에서 에러 발생
822번째에서 에러 발생
825번째에서 에러 발생
826번째에서 에러 발생
834번째에서 에러 발생
836번째에서 에러 발생
837번째에서 에러 발생
844번째에서 에러 발생
849번째에서 에러 발생
863번째에서 에러 발생
864번째에서 에러 발생
866번째에서 에러 발생
867번째에서 에러 발생
868번째에서 에러 발생

In [181]:
new_df.to_csv("info.csv", index=False)