In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df_f = pd.read_csv("./data/부마데이터(최종).csv", encoding ="cp949")

In [3]:
df_f

          마번               마명          부마성적
0      15477               백광   25전(11/8/3)
1      15625               홍지  44전(12/13/5)
2      18206            엑스플로잇     6전(5/1/0)
3      18733           비와신세이키   33전(10/7/8)
4      18771           캐피털스팬딩    12전(2/4/1)
..       ...              ...           ...
244  6992422      SKY KINGDOM    21전(6/2/4)
245  6993812   CENTRAL BANKER    13전(4/3/2)
246  6994066         TAMARKUZ    20전(8/4/0)
247  6995237  BIG BLUE KITTEN   33전(14/8/5)
248  6995985       BAL A BALI   26전(15/1/4)

[249 rows x 3 columns]

In [4]:
df_f.drop(columns='마번', inplace=True)

In [5]:
# 부마전적 컬럼 숫자 분리
temp1 = df_f.loc[:,"부마성적"].apply(lambda x: re.sub(r"[^0-9]", " ", x).split())
temp1

0       [25, 11, 8, 3]
1      [44, 12, 13, 5]
2         [6, 5, 1, 0]
3       [33, 10, 7, 8]
4        [12, 2, 4, 1]
            ...
244      [21, 6, 2, 4]
245      [13, 4, 3, 2]
246      [20, 8, 4, 0]
247     [33, 14, 8, 5]
248     [26, 15, 1, 4]
Name: 부마성적, Length: 249, dtype: object

In [8]:
df_f['부마성적'] = temp1.apply(lambda x : int(x[1])*3 + int(x[2])*2 + int(x[3])*1  / int(x[0]) if x[0]!='0' else 0)
df_f

IndexError: list index out of range