In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# one-hot encoding
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [73]:
df_horse = pd.read_csv("./data/horse_dict(경기성적).csv")
df_horse

,Unnamed: 0,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,...,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사
0,0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,...,포화,1:12.6,13.7,36.3,12.4,8400000,51.0,461(-2),김용근,안해양
1,1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,...,다습,1:14.0,13.6,37.3,12.8,8800000,54.5,463(-5),문세영,안해양
2,2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,...,포화,1:13.7,13.3,37.5,12.8,8800000,52.5,468(6),장추열,안해양
3,3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,...,다습,1:22.1,13.8,39.0,12.8,5600000,52.0,462(3),다비드,안해양
4,4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,...,건조,1:15.3,13.7,38.3,12.9,8800000,54.0,459(-1),다비드,안해양
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15410,15410,히트에이스,0 %,16.6 %,21-03-14,3,일반,1200,국6등급,12,...,건조,1:16.8,13.6,40.1,14.4,2420000,54.5,477(6),이용호,이관호
15411,15411,히트에이스,0 %,16.6 %,21-01-15,2,일반,1200,국6등급,2,...,양호,1:18.1,13.9,40.8,14.6,0,54.5,471(1),박현우,이관호
15412,15412,히트에이스,0 %,16.6 %,20-11-14,1,일반,1000,국6등급,2,...,건조,1:03.1,13.9,37.8,13.0,0,53.0,470(-5),송재철,이관호
15413,15413,히트파워,50 %,50 %,22-10-02,8,문화일보배(L),1200,국OPEN,11,...,양호,1:15.8,13.5,40.2,14.7,0,55.0,476(0),최범현,우창구
15414,15414,히트파워,50 %,50 %,22-08-21,2,일반,1000,국6등급,1,...,포화,1:01.7,13.2,37.6,13.3,33000000,55.0,476(-9),최범현,우창구

In [74]:
df_horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15415 entries, 0 to 15414
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  15415 non-null  int64
 1   마명          15415 non-null  object
 2   승률          15415 non-null  object
 3   복승률         15415 non-null  object
 4   경주일         15415 non-null  object
 5   경주          15415 non-null  int64
 6   경주명         15415 non-null  object
 7   거리          15415 non-null  int64
 8   군(등급)       15305 non-null  object
 9   번호          15415 non-null  int64
 10  순위          15408 non-null  object
 11  출전두수        15415 non-null  int64
 12  주로상태        15415 non-null  object
 13  기록          15377 non-null  object
 14  S1F기록       15377 non-null  float64
 15  G3F기록       15377 non-null  float64
 16  G1F기록       15377 non-null  float64
 17  수득상금        15415 non-null  int64
 18  부담중량        15415 non-null  float64
 19  마체중         15415 non-null  object
 20  기수          15415 non-null  object
 21  조교사         15415 non-null  object
dtypes: float64(4), int64(6), object(12)
memory usage: 2.6+ MB

### 'Unnamed: 0' 컬럼 drop

In [75]:
# 컬럼 버리기
df_horse.drop(columns='Unnamed: 0', inplace=True)
df_horse

,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,순위,...,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사
0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,3,...,포화,1:12.6,13.7,36.3,12.4,8400000,51.0,461(-2),김용근,안해양
1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,2,...,다습,1:14.0,13.6,37.3,12.8,8800000,54.5,463(-5),문세영,안해양
2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,2,...,포화,1:13.7,13.3,37.5,12.8,8800000,52.5,468(6),장추열,안해양
3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,3,...,다습,1:22.1,13.8,39.0,12.8,5600000,52.0,462(3),다비드,안해양
4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,2,...,건조,1:15.3,13.7,38.3,12.9,8800000,54.0,459(-1),다비드,안해양
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15410,히트에이스,0 %,16.6 %,21-03-14,3,일반,1200,국6등급,12,4,...,건조,1:16.8,13.6,40.1,14.4,2420000,54.5,477(6),이용호,이관호
15411,히트에이스,0 %,16.6 %,21-01-15,2,일반,1200,국6등급,2,6,...,양호,1:18.1,13.9,40.8,14.6,0,54.5,471(1),박현우,이관호
15412,히트에이스,0 %,16.6 %,20-11-14,1,일반,1000,국6등급,2,8,...,건조,1:03.1,13.9,37.8,13.0,0,53.0,470(-5),송재철,이관호
15413,히트파워,50 %,50 %,22-10-02,8,문화일보배(L),1200,국OPEN,11,12,...,양호,1:15.8,13.5,40.2,14.7,0,55.0,476(0),최범현,우창구
15414,히트파워,50 %,50 %,22-08-21,2,일반,1000,국6등급,1,1,...,포화,1:01.7,13.2,37.6,13.3,33000000,55.0,476(-9),최범현,우창구

### 군(등급) null 값인 행 삭제

In [110]:
df_horse['군(등급)'].replace('', np.nan, inplace=True)
df_horse.dropna(subset=['군(등급)'], inplace=True)
df_horse.reset_index(inplace=True)
df_horse

,index,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,...,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사,race_id
0,0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,...,1:12.6,13.7,36.3,12.4,8400000,51.0,461,김용근,안해양,
1,1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,...,1:14.0,13.6,37.3,12.8,8800000,54.5,463,문세영,안해양,
2,2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,...,1:13.7,13.3,37.5,12.8,8800000,52.5,468,장추열,안해양,
3,3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,...,1:22.1,13.8,39.0,12.8,5600000,52.0,462,다비드,안해양,
4,4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,...,1:15.3,13.7,38.3,12.9,8800000,54.0,459,다비드,안해양,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15300,15410,히트에이스,0 %,16.6 %,21-03-14,3,일반,1200,국6등급,12,...,1:16.8,13.6,40.1,14.4,2420000,54.5,477,이용호,이관호,
15301,15411,히트에이스,0 %,16.6 %,21-01-15,2,일반,1200,국6등급,2,...,1:18.1,13.9,40.8,14.6,0,54.5,471,박현우,이관호,
15302,15412,히트에이스,0 %,16.6 %,20-11-14,1,일반,1000,국6등급,2,...,1:03.1,13.9,37.8,13.0,0,53.0,470,송재철,이관호,
15303,15413,히트파워,50 %,50 %,22-10-02,8,문화일보배(L),1200,국OPEN,11,...,1:15.8,13.5,40.2,14.7,0,55.0,476,최범현,우창구,
15304,15414,히트파워,50 %,50 %,22-08-21,2,일반,1000,국6등급,1,...,1:01.7,13.2,37.6,13.3,33000000,55.0,476,최범현,우창구,

### 군(등급) 확인

In [111]:
df_horse.loc[:,'군(등급)'].unique()

array(['혼4등급', '국5등급', '국6등급', '2등급', '국3등급', '국4등급', '1등급', '국OPEN',
       '혼OPEN', '혼3등급'], dtype=object)

In [112]:
df_horse.loc[:,'군(등급)'].value_counts()

국6등급     4956
국5등급     3369
혼4등급     1858
국4등급     1797
혼3등급      933
2등급       681
국3등급      673
1등급       524
국OPEN     306
혼OPEN     208
Name: 군(등급), dtype: int64

### 경주명 확인

In [113]:
df_horse.loc[:,'경주명'].value_counts()

일반                              14294
Road to GI 챔피언십                    38
농협중앙회장배(L)                         26
Rookie Stakes@서울                   25
문화일보배(L)                           24
                                ...
한국마사회 창립 70주년 기념경주 / 최강팀 선발전        1
최강팀 선발전 1R                          1
최강팀 선발전 본선1                         1
홍삼한방의 고장 진안군 기념                     1
힐링과 승강기의 도시 거창 기념                   1
Name: 경주명, Length: 170, dtype: int64

### 마체중 컬럼에서 증감 제거

In [80]:
df_horse.loc[:,'마체중'] = df_horse.loc[:,'마체중'].apply(lambda x: x[:3])
df_horse.head()

,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,순위,...,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사
0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,3,...,포화,1:12.6,13.7,36.3,12.4,8400000,51.0,461,김용근,안해양
1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,2,...,다습,1:14.0,13.6,37.3,12.8,8800000,54.5,463,문세영,안해양
2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,2,...,포화,1:13.7,13.3,37.5,12.8,8800000,52.5,468,장추열,안해양
3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,3,...,다습,1:22.1,13.8,39.0,12.8,5600000,52.0,462,다비드,안해양
4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,2,...,건조,1:15.3,13.7,38.3,12.9,8800000,54.0,459,다비드,안해양

### 주로 상태 라벨 인코딩
- 라벨 인코더
- 건조 : 0
- 양호 : 1
- 다습 : 2
- 포화 : 3
- 불량 : 4

In [81]:
df_horse["주로상태"].value_counts()

건조        5023
다습        3983
양호        3488
포화        2113
불량         698
Name: 주로상태, dtype: int64

In [82]:
cl = {"건조    " : 0, "양호    " : 1, "다습    " : 2, "포화    " : 3, "불량    " : 4}
df_horse['주로상태'] = df_horse['주로상태'].replace(cl) # replace함수 이용 원하는 숫자로 변경
df_horse["주로상태"].value_counts()

0    5023
2    3983
1    3488
3    2113
4     698
Name: 주로상태, dtype: int64

### 경주일, 경주 합치기

In [116]:
df_horse["race_id"] = ''

for i in range(len(df_horse)):
    d = df_horse.at[i, "경주일"] + '-' + str(df_horse.at[i, "경주"])
    df_horse.at[i,'race_id'] = d

df_horse

,index,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,...,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사,race_id
0,0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,...,1:12.6,13.7,36.3,12.4,8400000,51.0,461,김용근,안해양,22-11-13-9
1,1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,...,1:14.0,13.6,37.3,12.8,8800000,54.5,463,문세영,안해양,22-10-09-5
2,2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,...,1:13.7,13.3,37.5,12.8,8800000,52.5,468,장추열,안해양,22-08-13-7
3,3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,...,1:22.1,13.8,39.0,12.8,5600000,52.0,462,다비드,안해양,22-07-10-4
4,4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,...,1:15.3,13.7,38.3,12.9,8800000,54.0,459,다비드,안해양,22-06-11-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15300,15410,히트에이스,0 %,16.6 %,21-03-14,3,일반,1200,국6등급,12,...,1:16.8,13.6,40.1,14.4,2420000,54.5,477,이용호,이관호,21-03-14-3
15301,15411,히트에이스,0 %,16.6 %,21-01-15,2,일반,1200,국6등급,2,...,1:18.1,13.9,40.8,14.6,0,54.5,471,박현우,이관호,21-01-15-2
15302,15412,히트에이스,0 %,16.6 %,20-11-14,1,일반,1000,국6등급,2,...,1:03.1,13.9,37.8,13.0,0,53.0,470,송재철,이관호,20-11-14-1
15303,15413,히트파워,50 %,50 %,22-10-02,8,문화일보배(L),1200,국OPEN,11,...,1:15.8,13.5,40.2,14.7,0,55.0,476,최범현,우창구,22-10-02-8
15304,15414,히트파워,50 %,50 %,22-08-21,2,일반,1000,국6등급,1,...,1:01.7,13.2,37.6,13.3,33000000,55.0,476,최범현,우창구,22-08-21-2

### 승률, 복승률 데이터 타입 변환

In [118]:
df_horse.rename(columns = {'승률':'승률(%)','복승률':'복승률(%)'}, inplace=True)

In [119]:
df_horse["승률(%)"] = df_horse["승률(%)"].str.replace(pat=r'%', repl='', regex=True)
df_horse["복승률(%)"] = df_horse["복승률(%)"].str.replace(pat=r'%', repl='', regex=True)

In [123]:
df_horse["승률(%)"]= df_horse["승률(%)"].astype('float')
df_horse["복승률(%)"]= df_horse["복승률(%)"].astype('float')
df_horse.drop(columns=['index', '경주일', '경주'], inplace=True)
df_horse

,마명,승률(%),복승률(%),경주명,거리,군(등급),번호,순위,출전두수,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사,race_id
0,가나패션,0.0,66.6,일반,1200,혼4등급,2,3,8,3,1:12.6,13.7,36.3,12.4,8400000,51.0,461,김용근,안해양,22-11-13-9
1,가나패션,0.0,66.6,일반,1200,국5등급,7,2,8,2,1:14.0,13.6,37.3,12.8,8800000,54.5,463,문세영,안해양,22-10-09-5
2,가나패션,0.0,66.6,일반,1200,국5등급,1,2,12,3,1:13.7,13.3,37.5,12.8,8800000,52.5,468,장추열,안해양,22-08-13-7
3,가나패션,0.0,66.6,일반,1300,국5등급,7,3,7,2,1:22.1,13.8,39.0,12.8,5600000,52.0,462,다비드,안해양,22-07-10-4
4,가나패션,0.0,66.6,일반,1200,국6등급,7,2,12,0,1:15.3,13.7,38.3,12.9,8800000,54.0,459,다비드,안해양,22-06-11-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15300,히트에이스,0.0,16.6,일반,1200,국6등급,12,4,13,0,1:16.8,13.6,40.1,14.4,2420000,54.5,477,이용호,이관호,21-03-14-3
15301,히트에이스,0.0,16.6,일반,1200,국6등급,2,6,12,1,1:18.1,13.9,40.8,14.6,0,54.5,471,박현우,이관호,21-01-15-2
15302,히트에이스,0.0,16.6,일반,1000,국6등급,2,8,12,0,1:03.1,13.9,37.8,13.0,0,53.0,470,송재철,이관호,20-11-14-1
15303,히트파워,50.0,50.0,문화일보배(L),1200,국OPEN,11,12,14,1,1:15.8,13.5,40.2,14.7,0,55.0,476,최범현,우창구,22-10-02-8
15304,히트파워,50.0,50.0,일반,1000,국6등급,1,1,12,3,1:01.7,13.2,37.6,13.3,33000000,55.0,476,최범현,우창구,22-08-21-2

### 기록 초수로 변경

In [124]:
horse_time= df_horse["기록"].apply(lambda x : str(x).split(":"))
new_time = []
for i in horse_time:
  if i != ['nan']:
    second = i[1].strip()
    new_time.append(float(i[0]) * 60 + float(second))
  else :
    new_time.append(np.nan)
horse_time = pd.DataFrame(new_time, columns = ["기록"])
df_horse["기록"] = horse_time["기록"]
max_time = df_horse["기록"].max(axis=0) + 2.0
df_horse["기록"] = df_horse["기록"].fillna(max_time)
df_horse

,마명,승률(%),복승률(%),경주명,거리,군(등급),번호,순위,출전두수,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사,race_id
0,가나패션,0.0,66.6,일반,1200,혼4등급,2,3,8,3,72.6,13.7,36.3,12.4,8400000,51.0,461,김용근,안해양,22-11-13-9
1,가나패션,0.0,66.6,일반,1200,국5등급,7,2,8,2,74.0,13.6,37.3,12.8,8800000,54.5,463,문세영,안해양,22-10-09-5
2,가나패션,0.0,66.6,일반,1200,국5등급,1,2,12,3,73.7,13.3,37.5,12.8,8800000,52.5,468,장추열,안해양,22-08-13-7
3,가나패션,0.0,66.6,일반,1300,국5등급,7,3,7,2,82.1,13.8,39.0,12.8,5600000,52.0,462,다비드,안해양,22-07-10-4
4,가나패션,0.0,66.6,일반,1200,국6등급,7,2,12,0,75.3,13.7,38.3,12.9,8800000,54.0,459,다비드,안해양,22-06-11-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15300,히트에이스,0.0,16.6,일반,1200,국6등급,12,4,13,0,76.8,13.6,40.1,14.4,2420000,54.5,477,이용호,이관호,21-03-14-3
15301,히트에이스,0.0,16.6,일반,1200,국6등급,2,6,12,1,78.1,13.9,40.8,14.6,0,54.5,471,박현우,이관호,21-01-15-2
15302,히트에이스,0.0,16.6,일반,1000,국6등급,2,8,12,0,63.1,13.9,37.8,13.0,0,53.0,470,송재철,이관호,20-11-14-1
15303,히트파워,50.0,50.0,문화일보배(L),1200,국OPEN,11,12,14,1,75.8,13.5,40.2,14.7,0,55.0,476,최범현,우창구,22-10-02-8
15304,히트파워,50.0,50.0,일반,1000,국6등급,1,1,12,3,61.7,13.2,37.6,13.3,33000000,55.0,476,최범현,우창구,22-08-21-2

In [125]:
df_horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15305 entries, 0 to 15304
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   마명       15305 non-null  object
 1   승률(%)    15305 non-null  float64
 2   복승률(%)   15305 non-null  float64
 3   경주명      15305 non-null  object
 4   거리       15305 non-null  int64
 5   군(등급)    15305 non-null  object
 6   번호       15305 non-null  int64
 7   순위       15300 non-null  object
 8   출전두수     15305 non-null  int64
 9   주로상태     15305 non-null  int64
 10  기록       15305 non-null  float64
 11  S1F기록    15267 non-null  float64
 12  G3F기록    15267 non-null  float64
 13  G1F기록    15267 non-null  float64
 14  수득상금     15305 non-null  int64
 15  부담중량     15305 non-null  float64
 16  마체중      15305 non-null  object
 17  기수       15305 non-null  object
 18  조교사      15305 non-null  object
 19  race_id  15305 non-null  object
dtypes: float64(7), int64(5), object(8)
memory usage: 2.3+ MB