In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# one-hot encoding
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder

In [2]:
df_horse = pd.read_csv("./data/horse_dict(경기성적).csv")
df_horse

,Unnamed: 0,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,...,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사
0,0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,...,포화,1:12.6,13.7,36.3,12.4,8400000,51.0,461(-2),김용근,안해양
1,1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,...,다습,1:14.0,13.6,37.3,12.8,8800000,54.5,463(-5),문세영,안해양
2,2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,...,포화,1:13.7,13.3,37.5,12.8,8800000,52.5,468(6),장추열,안해양
3,3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,...,다습,1:22.1,13.8,39.0,12.8,5600000,52.0,462(3),다비드,안해양
4,4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,...,건조,1:15.3,13.7,38.3,12.9,8800000,54.0,459(-1),다비드,안해양
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15410,15410,히트에이스,0 %,16.6 %,21-03-14,3,일반,1200,국6등급,12,...,건조,1:16.8,13.6,40.1,14.4,2420000,54.5,477(6),이용호,이관호
15411,15411,히트에이스,0 %,16.6 %,21-01-15,2,일반,1200,국6등급,2,...,양호,1:18.1,13.9,40.8,14.6,0,54.5,471(1),박현우,이관호
15412,15412,히트에이스,0 %,16.6 %,20-11-14,1,일반,1000,국6등급,2,...,건조,1:03.1,13.9,37.8,13.0,0,53.0,470(-5),송재철,이관호
15413,15413,히트파워,50 %,50 %,22-10-02,8,문화일보배(L),1200,국OPEN,11,...,양호,1:15.8,13.5,40.2,14.7,0,55.0,476(0),최범현,우창구
15414,15414,히트파워,50 %,50 %,22-08-21,2,일반,1000,국6등급,1,...,포화,1:01.7,13.2,37.6,13.3,33000000,55.0,476(-9),최범현,우창구

In [3]:
df_horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15415 entries, 0 to 15414
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  15415 non-null  int64
 1   마명          15415 non-null  object
 2   승률          15415 non-null  object
 3   복승률         15415 non-null  object
 4   경주일         15415 non-null  object
 5   경주          15415 non-null  int64
 6   경주명         15415 non-null  object
 7   거리          15415 non-null  int64
 8   군(등급)       15305 non-null  object
 9   번호          15415 non-null  int64
 10  순위          15408 non-null  object
 11  출전두수        15415 non-null  int64
 12  주로상태        15415 non-null  object
 13  기록          15377 non-null  object
 14  S1F기록       15377 non-null  float64
 15  G3F기록       15377 non-null  float64
 16  G1F기록       15377 non-null  float64
 17  수득상금        15415 non-null  int64
 18  부담중량        15415 non-null  float64
 19  마체중         15415 non-null  object
 20  기수          15415 non-null  object
 21  조교사         15415 non-null  object
dtypes: float64(4), int64(6), object(12)
memory usage: 2.6+ MB

### 'Unnamed: 0' 컬럼 drop

In [4]:
# 컬럼 버리기
df_horse.drop(columns='Unnamed: 0', inplace=True)
df_horse

,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,순위,...,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사
0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,3,...,포화,1:12.6,13.7,36.3,12.4,8400000,51.0,461(-2),김용근,안해양
1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,2,...,다습,1:14.0,13.6,37.3,12.8,8800000,54.5,463(-5),문세영,안해양
2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,2,...,포화,1:13.7,13.3,37.5,12.8,8800000,52.5,468(6),장추열,안해양
3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,3,...,다습,1:22.1,13.8,39.0,12.8,5600000,52.0,462(3),다비드,안해양
4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,2,...,건조,1:15.3,13.7,38.3,12.9,8800000,54.0,459(-1),다비드,안해양
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15410,히트에이스,0 %,16.6 %,21-03-14,3,일반,1200,국6등급,12,4,...,건조,1:16.8,13.6,40.1,14.4,2420000,54.5,477(6),이용호,이관호
15411,히트에이스,0 %,16.6 %,21-01-15,2,일반,1200,국6등급,2,6,...,양호,1:18.1,13.9,40.8,14.6,0,54.5,471(1),박현우,이관호
15412,히트에이스,0 %,16.6 %,20-11-14,1,일반,1000,국6등급,2,8,...,건조,1:03.1,13.9,37.8,13.0,0,53.0,470(-5),송재철,이관호
15413,히트파워,50 %,50 %,22-10-02,8,문화일보배(L),1200,국OPEN,11,12,...,양호,1:15.8,13.5,40.2,14.7,0,55.0,476(0),최범현,우창구
15414,히트파워,50 %,50 %,22-08-21,2,일반,1000,국6등급,1,1,...,포화,1:01.7,13.2,37.6,13.3,33000000,55.0,476(-9),최범현,우창구

### 군(등급) null 값인 행 삭제

In [5]:
df_horse['군(등급)'].replace('', np.nan, inplace=True)
df_horse.dropna(subset=['군(등급)'], inplace=True)
df_horse.reset_index(inplace=True)
df_horse

,index,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,...,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사
0,0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,...,포화,1:12.6,13.7,36.3,12.4,8400000,51.0,461(-2),김용근,안해양
1,1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,...,다습,1:14.0,13.6,37.3,12.8,8800000,54.5,463(-5),문세영,안해양
2,2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,...,포화,1:13.7,13.3,37.5,12.8,8800000,52.5,468(6),장추열,안해양
3,3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,...,다습,1:22.1,13.8,39.0,12.8,5600000,52.0,462(3),다비드,안해양
4,4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,...,건조,1:15.3,13.7,38.3,12.9,8800000,54.0,459(-1),다비드,안해양
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15300,15410,히트에이스,0 %,16.6 %,21-03-14,3,일반,1200,국6등급,12,...,건조,1:16.8,13.6,40.1,14.4,2420000,54.5,477(6),이용호,이관호
15301,15411,히트에이스,0 %,16.6 %,21-01-15,2,일반,1200,국6등급,2,...,양호,1:18.1,13.9,40.8,14.6,0,54.5,471(1),박현우,이관호
15302,15412,히트에이스,0 %,16.6 %,20-11-14,1,일반,1000,국6등급,2,...,건조,1:03.1,13.9,37.8,13.0,0,53.0,470(-5),송재철,이관호
15303,15413,히트파워,50 %,50 %,22-10-02,8,문화일보배(L),1200,국OPEN,11,...,양호,1:15.8,13.5,40.2,14.7,0,55.0,476(0),최범현,우창구
15304,15414,히트파워,50 %,50 %,22-08-21,2,일반,1000,국6등급,1,...,포화,1:01.7,13.2,37.6,13.3,33000000,55.0,476(-9),최범현,우창구

### 군(등급) 확인

In [6]:
df_horse.loc[:,'군(등급)'].unique()

array(['혼4등급', '국5등급', '국6등급', '2등급', '국3등급', '국4등급', '1등급', '국OPEN',
       '혼OPEN', '혼3등급'], dtype=object)

In [7]:
df_horse.loc[:,'군(등급)'].value_counts()

국6등급     4956
국5등급     3369
혼4등급     1858
국4등급     1797
혼3등급      933
2등급       681
국3등급      673
1등급       524
국OPEN     306
혼OPEN     208
Name: 군(등급), dtype: int64

### 경주명 확인

In [8]:
df_horse.loc[:,'경주명'].value_counts()

일반                              14294
Road to GI 챔피언십                    38
농협중앙회장배(L)                         26
Rookie Stakes@서울                   25
문화일보배(L)                           24
                                ...
한국마사회 창립 70주년 기념경주 / 최강팀 선발전        1
최강팀 선발전 1R                          1
최강팀 선발전 본선1                         1
홍삼한방의 고장 진안군 기념                     1
힐링과 승강기의 도시 거창 기념                   1
Name: 경주명, Length: 170, dtype: int64

### 마체중 컬럼에서 증감 제거

In [9]:
df_horse.loc[:,'마체중'] = df_horse.loc[:,'마체중'].apply(lambda x: x[:3])
df_horse.head()

,index,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,...,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사
0,0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,...,포화,1:12.6,13.7,36.3,12.4,8400000,51.0,461,김용근,안해양
1,1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,...,다습,1:14.0,13.6,37.3,12.8,8800000,54.5,463,문세영,안해양
2,2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,...,포화,1:13.7,13.3,37.5,12.8,8800000,52.5,468,장추열,안해양
3,3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,...,다습,1:22.1,13.8,39.0,12.8,5600000,52.0,462,다비드,안해양
4,4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,...,건조,1:15.3,13.7,38.3,12.9,8800000,54.0,459,다비드,안해양

### 주로 상태 라벨 인코딩
- 라벨 인코더
- 건조 : 0
- 양호 : 1
- 다습 : 2
- 포화 : 3
- 불량 : 4

In [10]:
df_horse["주로상태"].value_counts()

건조        5023
다습        3983
양호        3488
포화        2113
불량         698
Name: 주로상태, dtype: int64

In [11]:
cl = {"건조    " : 0, "양호    " : 1, "다습    " : 2, "포화    " : 3, "불량    " : 4}
df_horse['주로상태'] = df_horse['주로상태'].replace(cl) # replace함수 이용 원하는 숫자로 변경
df_horse["주로상태"].value_counts()

0    5023
2    3983
1    3488
3    2113
4     698
Name: 주로상태, dtype: int64

### 경주일, 경주 합치기

In [12]:
df_horse["race_id"] = ''

for i in range(len(df_horse)):
    d = df_horse.at[i, "경주일"] + '-' + str(df_horse.at[i, "경주"])
    df_horse.at[i,'race_id'] = d

df_horse

,index,마명,승률,복승률,경주일,경주,경주명,거리,군(등급),번호,...,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사,race_id
0,0,가나패션,0 %,66.6 %,22-11-13,9,일반,1200,혼4등급,2,...,1:12.6,13.7,36.3,12.4,8400000,51.0,461,김용근,안해양,22-11-13-9
1,1,가나패션,0 %,66.6 %,22-10-09,5,일반,1200,국5등급,7,...,1:14.0,13.6,37.3,12.8,8800000,54.5,463,문세영,안해양,22-10-09-5
2,2,가나패션,0 %,66.6 %,22-08-13,7,일반,1200,국5등급,1,...,1:13.7,13.3,37.5,12.8,8800000,52.5,468,장추열,안해양,22-08-13-7
3,3,가나패션,0 %,66.6 %,22-07-10,4,일반,1300,국5등급,7,...,1:22.1,13.8,39.0,12.8,5600000,52.0,462,다비드,안해양,22-07-10-4
4,4,가나패션,0 %,66.6 %,22-06-11,2,일반,1200,국6등급,7,...,1:15.3,13.7,38.3,12.9,8800000,54.0,459,다비드,안해양,22-06-11-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15300,15410,히트에이스,0 %,16.6 %,21-03-14,3,일반,1200,국6등급,12,...,1:16.8,13.6,40.1,14.4,2420000,54.5,477,이용호,이관호,21-03-14-3
15301,15411,히트에이스,0 %,16.6 %,21-01-15,2,일반,1200,국6등급,2,...,1:18.1,13.9,40.8,14.6,0,54.5,471,박현우,이관호,21-01-15-2
15302,15412,히트에이스,0 %,16.6 %,20-11-14,1,일반,1000,국6등급,2,...,1:03.1,13.9,37.8,13.0,0,53.0,470,송재철,이관호,20-11-14-1
15303,15413,히트파워,50 %,50 %,22-10-02,8,문화일보배(L),1200,국OPEN,11,...,1:15.8,13.5,40.2,14.7,0,55.0,476,최범현,우창구,22-10-02-8
15304,15414,히트파워,50 %,50 %,22-08-21,2,일반,1000,국6등급,1,...,1:01.7,13.2,37.6,13.3,33000000,55.0,476,최범현,우창구,22-08-21-2

### 승률, 복승률 데이터 타입 변환

In [13]:
df_horse.rename(columns = {'승률':'승률(%)','복승률':'복승률(%)'}, inplace=True)

In [14]:
df_horse["승률(%)"] = df_horse["승률(%)"].str.replace(pat=r'%', repl='', regex=True)
df_horse["복승률(%)"] = df_horse["복승률(%)"].str.replace(pat=r'%', repl='', regex=True)

In [15]:
df_horse["승률(%)"]= df_horse["승률(%)"].astype('float')
df_horse["복승률(%)"]= df_horse["복승률(%)"].astype('float')
df_horse.drop(columns=['index', '경주일', '경주'], inplace=True)
df_horse

,마명,승률(%),복승률(%),경주명,거리,군(등급),번호,순위,출전두수,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사,race_id
0,가나패션,0.0,66.6,일반,1200,혼4등급,2,3,8,3,1:12.6,13.7,36.3,12.4,8400000,51.0,461,김용근,안해양,22-11-13-9
1,가나패션,0.0,66.6,일반,1200,국5등급,7,2,8,2,1:14.0,13.6,37.3,12.8,8800000,54.5,463,문세영,안해양,22-10-09-5
2,가나패션,0.0,66.6,일반,1200,국5등급,1,2,12,3,1:13.7,13.3,37.5,12.8,8800000,52.5,468,장추열,안해양,22-08-13-7
3,가나패션,0.0,66.6,일반,1300,국5등급,7,3,7,2,1:22.1,13.8,39.0,12.8,5600000,52.0,462,다비드,안해양,22-07-10-4
4,가나패션,0.0,66.6,일반,1200,국6등급,7,2,12,0,1:15.3,13.7,38.3,12.9,8800000,54.0,459,다비드,안해양,22-06-11-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15300,히트에이스,0.0,16.6,일반,1200,국6등급,12,4,13,0,1:16.8,13.6,40.1,14.4,2420000,54.5,477,이용호,이관호,21-03-14-3
15301,히트에이스,0.0,16.6,일반,1200,국6등급,2,6,12,1,1:18.1,13.9,40.8,14.6,0,54.5,471,박현우,이관호,21-01-15-2
15302,히트에이스,0.0,16.6,일반,1000,국6등급,2,8,12,0,1:03.1,13.9,37.8,13.0,0,53.0,470,송재철,이관호,20-11-14-1
15303,히트파워,50.0,50.0,문화일보배(L),1200,국OPEN,11,12,14,1,1:15.8,13.5,40.2,14.7,0,55.0,476,최범현,우창구,22-10-02-8
15304,히트파워,50.0,50.0,일반,1000,국6등급,1,1,12,3,1:01.7,13.2,37.6,13.3,33000000,55.0,476,최범현,우창구,22-08-21-2

### 기록 초수로 변경

In [16]:
horse_time= df_horse["기록"].apply(lambda x : str(x).split(":"))
new_time = []
for i in horse_time:
  if i != ['nan']:
    second = i[1].strip()
    new_time.append(float(i[0]) * 60 + float(second))
  else :
    new_time.append(np.nan)
horse_time = pd.DataFrame(new_time, columns = ["기록"])
df_horse["기록"] = horse_time["기록"]
max_time = df_horse["기록"].max(axis=0) + 2.0
df_horse["기록"] = df_horse["기록"].fillna(max_time)
df_horse

,마명,승률(%),복승률(%),경주명,거리,군(등급),번호,순위,출전두수,주로상태,기록,S1F기록,G3F기록,G1F기록,수득상금,부담중량,마체중,기수,조교사,race_id
0,가나패션,0.0,66.6,일반,1200,혼4등급,2,3,8,3,72.6,13.7,36.3,12.4,8400000,51.0,461,김용근,안해양,22-11-13-9
1,가나패션,0.0,66.6,일반,1200,국5등급,7,2,8,2,74.0,13.6,37.3,12.8,8800000,54.5,463,문세영,안해양,22-10-09-5
2,가나패션,0.0,66.6,일반,1200,국5등급,1,2,12,3,73.7,13.3,37.5,12.8,8800000,52.5,468,장추열,안해양,22-08-13-7
3,가나패션,0.0,66.6,일반,1300,국5등급,7,3,7,2,82.1,13.8,39.0,12.8,5600000,52.0,462,다비드,안해양,22-07-10-4
4,가나패션,0.0,66.6,일반,1200,국6등급,7,2,12,0,75.3,13.7,38.3,12.9,8800000,54.0,459,다비드,안해양,22-06-11-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15300,히트에이스,0.0,16.6,일반,1200,국6등급,12,4,13,0,76.8,13.6,40.1,14.4,2420000,54.5,477,이용호,이관호,21-03-14-3
15301,히트에이스,0.0,16.6,일반,1200,국6등급,2,6,12,1,78.1,13.9,40.8,14.6,0,54.5,471,박현우,이관호,21-01-15-2
15302,히트에이스,0.0,16.6,일반,1000,국6등급,2,8,12,0,63.1,13.9,37.8,13.0,0,53.0,470,송재철,이관호,20-11-14-1
15303,히트파워,50.0,50.0,문화일보배(L),1200,국OPEN,11,12,14,1,75.8,13.5,40.2,14.7,0,55.0,476,최범현,우창구,22-10-02-8
15304,히트파워,50.0,50.0,일반,1000,국6등급,1,1,12,3,61.7,13.2,37.6,13.3,33000000,55.0,476,최범현,우창구,22-08-21-2

In [17]:
df_horse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15305 entries, 0 to 15304
Data columns (total 20 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   마명       15305 non-null  object
 1   승률(%)    15305 non-null  float64
 2   복승률(%)   15305 non-null  float64
 3   경주명      15305 non-null  object
 4   거리       15305 non-null  int64
 5   군(등급)    15305 non-null  object
 6   번호       15305 non-null  int64
 7   순위       15300 non-null  object
 8   출전두수     15305 non-null  int64
 9   주로상태     15305 non-null  int64
 10  기록       15305 non-null  float64
 11  S1F기록    15267 non-null  float64
 12  G3F기록    15267 non-null  float64
 13  G1F기록    15267 non-null  float64
 14  수득상금     15305 non-null  int64
 15  부담중량     15305 non-null  float64
 16  마체중      15305 non-null  object
 17  기수       15305 non-null  object
 18  조교사      15305 non-null  object
 19  race_id  15305 non-null  object
dtypes: float64(7), int64(5), object(8)
memory usage: 2.3+ MB

- 경기 횟수 6회 미만인 애들 삭제

In [20]:
df_horse['race_id'].value_counts()

22-10-02-8     14
21-12-25-2     13
22-09-03-5     13
21-12-19-7     12
22-09-18-11    12
               ..
17-09-10-8      1
17-07-09-10     1
17-05-28-9      1
17-04-16-9      1
18-06-30-5      1
Name: race_id, Length: 3309, dtype: int64

In [21]:
vals = df_horse['race_id'].value_counts()

race_num =dict(vals)
delete_list=[]

for i, v in race_num.items():
    if v < 6:
        delete_list.append(i)

delete_list

['21-08-15-13',
 '22-04-02-3',
 '21-05-29-1',
 '21-04-18-5',
 '20-11-15-6',
 '21-08-07-4',
 '21-01-15-10',
 '20-01-05-8',
 '21-10-16-4',
 '21-09-19-5',
 '21-05-30-9',
 '21-01-29-15',
 '20-12-19-2',
 '21-04-17-8',
 '21-02-28-14',
 '21-09-05-10',
 '21-11-20-5',
 '20-10-23-9',
 '21-01-29-12',
 '21-10-30-8',
 '21-05-16-7',
 '21-05-22-5',
 '22-04-10-2',
 '20-10-16-10',
 '21-01-08-4',
 '22-06-19-4',
 '20-08-01-1',
 '22-01-22-9',
 '21-12-05-4',
 '21-07-17-2',
 '21-04-17-7',
 '20-01-04-8',
 '21-09-05-2',
 '21-02-28-11',
 '21-08-28-8',
 '20-08-23-4',
 '20-08-15-9',
 '21-06-20-10',
 '22-06-11-4',
 '21-05-29-4',
 '19-11-30-8',
 '22-04-17-7',
 '22-04-17-9',
 '21-08-22-5',
 '21-11-07-5',
 '22-06-18-7',
 '21-10-31-3',
 '19-10-13-5',
 '21-08-29-3',
 '21-12-19-5',
 '20-02-16-7',
 '21-10-16-7',
 '21-08-07-9',
 '21-02-28-10',
 '21-05-29-6',
 '21-12-11-9',
 '19-11-09-8',
 '19-08-24-4',
 '21-12-04-6',
 '20-11-08-5',
 '21-10-03-3',
 '21-08-08-3',
 '20-08-08-12',
 '22-03-05-8',
 '22-05-08-3',
 '21-01-29-3',
 '22-07-02-8',
 '19-09-28-5',
 '19-12-08-5',
 '22-06-25-7',
 '22-07-23-9',
 '21-12-18-9',
 '19-11-09-2',
 '20-11-01-12',
 '19-12-15-9',
 '22-05-21-8',
 '21-01-29-4',
 '20-12-12-6',
 '22-03-05-9',
 '21-04-17-5',
 '21-10-31-6',
 '21-07-24-8',
 '21-07-04-2',
 '21-09-12-10',
 '21-11-13-3',
 '21-09-18-2',
 '21-11-13-6',
 '20-11-29-4',
 '21-08-15-10',
 '20-01-19-8',
 '21-03-21-12',
 '21-07-10-8',
 '21-08-08-11',
 '21-06-19-2',
 '21-01-22-14',
 '21-11-13-7',
 '21-07-17-6',
 '20-11-28-3',
 '21-05-30-4',
 '19-09-08-2',
 '22-01-15-8',
 '22-05-28-6',
 '21-09-04-8',
 '21-07-11-10',
 '21-02-28-15',
 '21-10-23-7',
 '21-06-06-9',
 '21-07-17-9',
 '20-11-14-2',
 '20-10-23-15',
 '21-04-04-1',
 '21-01-22-7',
 '21-11-27-10',
 '22-01-30-4',
 '21-03-21-2',
 '21-05-30-1',
 '21-10-03-5',
 '22-03-05-3',
 '21-11-13-4',
 '22-11-12-1',
 '22-05-29-8',
 '20-10-16-13',
 '21-10-17-2',
 '21-10-09-9',
 '21-04-24-1',
 '20-10-23-4',
 '21-02-05-1',
 '20-12-06-3',
 '21-07-03-6',
 '20-02-22-10',
 '21-02-21-11',
 '21-10-31-2',
 '22-05-07-5',
 '20-07-19-1',
 '21-05-30-10',
 '22-02-12-6',
 '21-11-07-7',
 '22-03-13-10',
 '20-08-29-15',
 '22-05-28-1',
 '20-07-25-14',
 '22-06-04-8',
 '21-08-29-1',
 '22-03-26-2',
 '21-08-22-3',
 '21-03-07-4',
 '21-08-08-15',
 '20-12-19-13',
 '21-05-08-6',
 '20-12-06-8',
 '21-06-20-4',
 '19-12-07-8',
 '22-04-10-4',
 '21-08-15-2',
 '20-08-15-1',
 '21-04-03-2',
 '22-03-13-11',
 '21-11-20-4',
 '20-06-20-13',
 '21-06-06-2',
 '22-01-16-8',
 '21-01-15-9',
 '21-02-21-15',
 '21-04-24-6',
 '21-11-28-5',
 '20-12-06-1',
 '21-08-08-6',
 '21-02-21-10',
 '21-05-08-2',
 '21-02-05-15',
 '21-05-08-8',
 '21-08-28-7',
 '22-07-02-3',
 '20-02-08-4',
 '21-02-28-5',
 '22-04-23-1',
 '21-11-21-3',
 '21-08-29-2',
 '20-11-01-2',
 '21-10-16-5',
 '19-11-23-12',
 '20-11-07-1',
 '21-06-13-5',
 '21-04-03-3',
 '21-07-03-4',
 '21-04-18-9',
 '20-07-04-1',
 '20-12-19-9',
 '22-03-06-4',
 '21-04-03-4',
 '20-12-20-3',
 '21-11-13-2',
 '21-06-06-5',
 '20-02-08-9',
 '21-10-09-4',
 '20-11-14-9',
 '22-02-27-8',
 '21-11-14-4',
 '21-03-28-1',
 '21-01-08-1',
 '21-09-12-2',
 '21-08-28-4',
 '21-10-10-5',
 '20-11-01-7',
 '21-07-25-5',
 '21-07-11-6',
 '21-11-14-5',
 '20-08-29-12',
 '20-07-26-11',
 '21-08-08-1',
 '19-11-09-5',
 '22-03-06-3',
 '20-10-23-5',
 '21-07-25-6',
 '21-10-30-6',
 '22-07-24-4',
 '21-11-07-3',
 '22-01-15-2',
 '21-06-26-6',
 '21-01-08-8',
 '20-07-11-2',
 '21-01-08-10',
 '20-06-27-4',
 '20-11-21-11',
 '21-11-21-5',
 '20-12-12-7',
 '22-07-09-9',
 '22-04-02-5',
 '21-01-08-14',
 '21-02-21-13',
 '21-11-13-5',
 '20-08-29-14',
 '21-12-11-5',
 '20-11-22-4',
 '21-04-25-3',
 '21-06-27-9',
 '21-03-21-4',
 '21-04-24-4',
 '21-04-03-1',
 '22-05-01-6',
 '22-07-10-5',
 '22-04-03-11',
 '21-10-02-9',
 '21-08-28-3',
 '21-11-06-3',
 '21-08-15-3',
 '20-10-23-2',
 '21-10-23-5',
 '22-07-24-6',
 '21-01-15-11',
 '21-07-24-5',
 '21-02-21-3',
 '21-05-22-7',
 '21-06-20-2',
 '21-06-19-1',
 '21-02-21-1',
 '21-06-27-4',
 '21-06-27-8',
 '21-12-12-8',
 '21-04-17-4',
 '21-05-22-6',
 '21-12-04-3',
 '21-06-26-4',
 '20-10-23-3',
 '21-08-28-9',
 '21-10-10-9',
 '20-08-22-1',
 '21-03-28-4',
 '21-05-09-4',
 '21-07-25-4',
 '21-04-25-2',
 '21-05-02-1',
 '21-01-22-6',
 '19-10-05-2',
 '21-09-19-6',
 '20-08-02-10',
 '20-08-30-10',
 '22-02-19-3',
 '22-02-12-2',
 '21-03-14-3',
 '21-12-04-4',
 '21-09-18-9',
 '22-04-16-9',
 '21-06-20-5',
 '21-04-10-6',
 '19-08-25-7',
 '19-09-21-4',
 '21-06-13-6',
 '19-11-10-1',
 '20-11-14-4',
 '19-10-12-9',
 '20-10-16-7',
 '20-08-08-15',
 '21-01-22-11',
 '21-05-09-6',
 '20-11-14-12',
 '21-03-14-4',
 '21-03-07-13',
 '21-10-10-4',
 '22-05-01-1',
 '21-08-22-7',
 '19-02-02-5',
 '21-08-08-5',
 '21-10-24-5',
 '20-08-15-2',
 '21-08-15-9',
 '21-07-10-6',
 '20-07-04-9',
 '20-07-26-7',
 '22-01-08-7',
 '21-02-28-13',
 '21-04-10-7',
 '21-03-07-9',
 '20-12-19-8',
 '21-09-05-9',
 '19-10-26-6',
 '21-08-15-4',
 '20-07-12-10',
 '20-07-25-11',
 '21-11-27-4',
 '21-02-21-2',
 '21-04-10-3',
 '22-07-02-5',
 '20-07-05-3',
 '21-04-04-10',
 '22-04-02-7',
 '21-05-09-10',
 '21-03-28-12',
 '21-03-07-14',
 '20-11-28-5',
 '19-10-12-3',
 '21-07-24-3',
 '21-10-02-3',
 '18-10-27-10',
 '21-07-10-10',
 '20-11-21-1',
 '21-01-22-15',
 '21-03-28-11',
 '21-05-02-7',
 '21-07-18-1',
 '21-09-12-6',
 '21-03-28-2',
 '21-05-09-2',
 '21-06-26-1',
 '21-12-04-8',
 '20-11-14-8',
 '21-05-15-7',
 '20-08-29-13',
 '19-06-15-1',
 '19-07-20-3',
 '21-02-05-5',
 '21-05-02-2',
 '20-06-27-12',
 '19-11-24-10',
 '21-04-25-9',
 '21-11-13-9',
 '20-08-22-2',
 '20-11-07-5',
 '21-08-15-11',
 '20-08-02-1',
 '20-11-22-7',
 '20-08-15-15',
 '21-03-21-8',
 '21-09-19-4',
 '20-08-30-4',
 '21-09-11-9',
 '20-11-14-3',
 '20-02-02-3',
 '20-08-29-10',
 '21-08-21-4',
 '21-05-15-6',
 '21-10-10-1',
 '21-09-05-1',
 '22-03-12-3',
 '21-09-12-3',
 '21-01-22-12',
 '21-06-13-4',
 '21-06-05-8',
 '21-07-17-8',
 '21-12-25-10',
 '21-07-03-8',
 '21-02-21-6',
 '21-05-09-8',
 '21-03-07-11',
 '21-08-15-8',
 '21-10-30-7',
 '20-12-20-1',
 '21-07-25-9',
 '21-04-25-10',
 '21-01-15-3',
 '21-02-21-5',
 '21-04-03-5',
 '21-09-04-7',
 '22-03-27-7',
 '21-06-26-5',
 '19-12-14-10',
 '20-08-08-7',
 '20-12-19-1',
 '19-12-22-8',
 '21-05-01-8',
 '20-06-27-10',
 '20-11-08-9',
 '21-01-29-10',
 '21-07-04-1',
 '20-02-16-4',
 '19-08-31-8',
 '20-11-01-13',
 '21-07-04-3',
 '21-10-24-2',
 '21-09-19-2',
 '21-09-19-3',
 '21-02-05-7',
 '20-07-11-10',
 '19-12-07-4',
 '21-09-05-5',
 '20-10-16-15',
 '20-07-18-14',
 '20-08-16-10',
 '20-07-25-15',
 '19-11-30-1',
 '20-12-12-3',
 '19-11-23-11',
 '21-01-15-14',
 '20-12-05-7',
 '21-06-05-4',
 '20-08-08-1',
 '20-02-02-8',
 '20-01-04-10',
 '21-03-21-3',
 '21-11-27-7',
 '21-05-09-1',
 '19-08-18-10',
 '21-12-18-7',
 '21-04-03-6',
 '21-05-01-7',
 '19-07-27-14',
 '19-06-09-7',
 '19-03-02-4',
 '22-07-03-8',
 '20-11-28-2',
 '20-08-22-10',
 '20-06-28-6',
 '20-02-15-7',
 '19-07-07-2',
 '20-01-12-6',
 '20-11-22-6',
 '20-11-01-8',
 '21-07-03-7',
 '21-11-13-8',
 '20-12-20-5',
 '19-11-24-3',
 '21-04-18-2',
 '21-03-28-10',
 '20-10-16-1',
 '20-06-20-14',
 '21-04-11-8',
 '20-11-15-10',
 '21-07-25-8',
 '21-04-17-1',
 '19-12-22-2',
 '21-07-11-4',
 '20-02-01-13',
 '20-06-28-10',
 '21-07-18-8',
 '21-05-23-8',
 '21-07-25-2',
 '21-06-20-1',
 '20-11-01-3',
 '21-07-18-7',
 '20-11-29-1',
 '21-03-28-6',
 '21-06-13-2',
 '20-08-15-11',
 '20-02-22-2',
 '21-03-07-10',
 '19-07-27-5',
 '20-06-20-10',
 '21-07-04-9',
 '21-10-17-8',
 '21-06-20-8',
 '19-08-17-2',
 '19-02-23-3',
 '19-10-20-11',
 '20-08-02-12',
 '20-12-19-15',
 '20-10-23-13',
 '19-09-29-6',
 '21-04-11-2',
 '21-04-11-9',
 '21-01-15-6',
 '21-07-10-5',
 '21-10-09-3',
 '21-04-18-10',
 '21-03-14-13',
 '20-10-16-6',
 '20-11-28-4',
 '21-02-21-8',
 '20-08-23-2',
 '19-05-12-9',
 '20-06-20-11',
 '20-11-01-9',
 '19-02-03-1',
 '21-02-05-9',
 '20-08-29-2',
 '21-08-29-8',
 '21-05-16-9',
 '21-06-19-6',
 '21-05-15-1',
 '21-06-06-10',
 '20-08-23-8',
 '21-03-21-5',
 '22-03-06-5',
 '19-12-22-3',
 '21-06-27-6',
 '21-05-02-8',
 '21-05-30-5',
 '21-05-30-8',
 '21-05-08-5',
 '20-07-04-13',
 '19-12-22-12',
 '21-05-23-2',
 '21-04-04-5',
 '21-06-05-7',
 '20-02-15-2',
 '21-11-28-10',
 '21-06-12-2',
 '20-02-16-1',
 '20-08-30-1',
 '22-03-26-8',
 '21-07-10-2',
 '21-12-05-2',
 '19-03-30-1',
 '21-05-15-3',
 '20-02-08-8',
 '21-09-18-4',
 '21-04-04-4',
 '20-11-21-7',
 '21-04-24-2',
 '20-07-19-10',
 '21-05-15-5',
 '21-05-23-4',
 '21-03-28-7',
 '21-08-22-8',
 '21-09-05-8',
 '21-07-04-8',
 '21-08-08-13',
 '22-03-13-8',
 '20-12-05-5',
 '19-12-22-11',
 '19-10-26-8',
 '20-12-06-2',
 '19-09-29-11',
 '19-11-03-9',
 '21-04-11-7',
 '20-07-19-9',
 '19-05-26-9',
 '21-04-25-6',
 '20-11-29-7',
 '21-08-07-7',
 '20-08-30-8',
 '21-04-25-8',
 '22-06-12-1',
 '21-05-15-2',
 '20-08-16-11',
 '20-02-16-8',
 '21-10-10-6',
 '20-11-07-12',
 '21-12-11-4',
 '21-07-04-6',
 '20-02-15-8',
 '19-12-08-1',
 '21-03-14-5',
 '19-12-14-9',
 '20-10-16-9',
 '20-07-12-11',
 '21-04-10-4',
 '20-11-21-10',
 '19-10-19-6',
 '21-11-27-9',
 '20-01-04-13',
 '20-06-21-11',
 '20-02-01-12',
 '20-07-11-13',
 '20-11-07-11',
 '19-12-07-6',
 '19-11-16-7',
 '19-10-13-10',
 '19-10-13-8',
 '20-02-15-12',
 '20-11-08-4',
 '20-08-01-10',
 '21-03-14-8',
 '21-11-06-10',
 '20-07-18-10',
 '21-03-14-15',
 '20-10-16-8',
 '20-11-21-3',
 '21-11-07-8',
 '20-12-05-6',
 '19-10-06-2',
 '21-04-18-4',
 '19-10-26-2',
 '18-10-27-4',
 '20-11-28-6',
 '21-01-29-7',
 '21-11-14-9',
 '19-10-20-2',
 '20-08-01-2',
 '19-08-10-3',
 '21-02-21-4',
 '20-11-15-1',
 '18-12-22-6',
 '21-12-18-4',
 '20-08-16-6',
 '19-11-16-8',
 '20-07-26-4',
 '19-09-07-6',
 '20-02-08-6',
 '21-02-05-14',
 '20-12-19-6',
 '21-02-21-9',
 '20-12-19-7',
 '21-08-14-3',
 '19-12-15-2',
 '21-08-08-14',
 '19-12-22-10',
 '21-05-16-1',
 '20-07-26-8',
 '21-05-22-1',
 '20-08-29-3',
 '21-01-15-13',
 '20-11-15-5',
 '21-06-19-3',
 '21-06-12-8',
 '20-07-05-9',
 '19-07-20-4',
 '21-08-15-6',
 '19-02-16-3',
 '21-12-05-7',
 '19-08-31-4',
 '19-01-26-12',
 '19-12-22-1',
 '20-11-15-3',
 '20-08-16-3',
 '19-11-03-2',
 '19-09-28-3',
 '19-10-27-9',
 '19-07-14-5',
 '21-08-07-6',
 '20-11-01-10',
 '19-09-22-4',
 '20-02-01-3',
 '19-09-07-5',
 '21-12-05-3',
 '19-06-01-3',
 '21-08-21-3',
 '19-11-02-1',
 '21-06-27-7',
 '20-06-20-9',
 '20-01-12-2',
 '20-08-22-7',
 '20-12-19-3',
 '20-01-05-9',
 '19-12-07-1',
 '20-06-28-12',
 '20-07-05-7',
 '20-11-08-7',
 '19-11-24-4',
 '20-07-25-10',
 '21-10-10-7',
 '21-03-07-5',
 '20-08-08-9',
 '20-02-16-2',
 '20-06-28-9',
 '19-11-09-7',
 '19-08-17-4',
 '20-07-18-11',
 '20-11-08-10',
 '21-10-09-6',
 '19-01-13-11',
 '19-04-27-10',
 '21-08-08-9',
 '19-05-25-9',
 '20-08-23-5',
 '20-06-28-8',
 '21-10-30-3',
 '21-04-10-5',
 '21-03-21-7',
 '20-01-18-1',
 '19-11-17-5',
 '20-06-27-15',
 '19-03-17-2',
 '20-02-16-10',
 '18-10-27-7',
 '21-05-08-3',
 '21-12-04-5',
 '21-06-26-2',
 '21-03-14-6',
 '21-11-20-6',
 '21-08-28-6',
 '21-07-24-9',
 '21-09-11-4',
 '20-02-22-8',
 '20-01-12-7',
 '19-10-12-10',
 '21-04-11-3',
 '19-06-30-4',
 '21-03-07-3',
 '20-08-15-6',
 '20-11-14-10',
 '20-07-11-3',
 '21-09-19-10',
 '20-08-02-3',
 '19-12-14-2',
 '19-10-06-9',
 '21-08-22-6',
 '20-06-28-7',
 '20-01-19-11',
 '20-08-23-7',
 '20-12-12-5',
 '21-02-21-7',
 '21-07-03-1',
 '18-12-23-4',
 '19-04-28-10',
 '20-10-23-11',
 '20-01-18-12',
 '19-08-10-9',
 '20-08-15-12',
 '20-02-22-12',
 '19-08-24-6',
 '20-01-18-13',
 '19-04-20-5',
 '20-11-07-6',
 '21-05-30-2',
 '20-08-15-14',
 '20-01-11-10',
 '21-06-12-1',
 '21-05-23-6',
 '20-01-05-5',
 '20-08-08-11',
 '20-08-01-7',
 '21-03-28-14',
 '21-01-22-8',
 '21-03-21-1',
 '20-06-21-6',
 '21-01-29-1',
 '19-12-07-10',
 '19-06-16-9',
 '19-12-01-1',
 '20-06-21-9',
 '20-11-01-5',
 '20-11-22-5',
 '21-08-14-2',
 '20-02-16-9',
 '21-01-15-12',
 '20-08-01-4',
 '21-03-07-1',
 '21-07-04-5',
 '21-08-07-2',
 '21-07-17-7',
 '19-11-23-5',
 '20-08-02-6',
 '20-11-14-1',
 '21-05-15-8',
 '21-03-07-8',
 '19-09-08-10',
 '19-06-22-1',
 '21-05-22-4',
 '22-02-12-7',
 '20-10-23-10',
 '21-07-11-3',
 '20-02-22-3',
 '21-01-08-12',
 '21-05-16-4',
 '21-11-14-6',
 '19-11-03-6',
 '20-06-28-3',
 '20-11-01-1',
 '20-01-05-4',
 '19-11-02-6',
 '20-02-16-6',
 '20-06-20-2',
 '21-07-18-3',
 '20-08-08-14',
 '20-02-22-9',
 '21-08-07-5',
 '21-02-05-8',
 '19-11-17-10',
 '21-04-11-6',
 '20-11-01-11',
 '21-04-11-1',
 '20-07-25-9',
 '21-08-14-6',
 '19-09-28-6',
 '21-08-07-10',
 '21-01-08-2',
 '21-07-17-1',
 '21-03-14-9',
 '20-07-05-12',
 '20-02-08-10',
 '20-11-08-11',
 '20-12-12-11',
 '21-05-22-2',
 '20-08-01-9',
 '21-10-17-5',
 '21-01-08-15',
 '20-01-18-9',
 '19-11-17-6',
 '21-05-29-2',
 '20-08-23-9',
 '18-12-16-12',
 '20-11-15-11',
 '20-08-22-11',
 '19-09-29-7',
 '18-10-21-1',
 '20-01-18-5',
 '18-10-06-2',
 '19-05-12-8',
 '19-11-02-4',
 '20-11-14-7',
 '19-06-22-10',
 '20-01-19-4',
 '20-06-20-7',
 '19-03-31-5',
 '20-02-16-5',
 '21-06-05-1',
 '20-07-05-5',
 '19-02-16-11',
 '20-07-25-5',
 '19-10-19-9',
 '18-08-19-4',
 '20-07-18-9',
 '19-08-11-10',
 '20-07-04-11',
 '19-04-06-8',
 '19-03-03-2',
 '19-10-05-7',
 '19-10-19-7',
 '19-10-20-8',
 '19-11-03-3',
 '19-03-24-3',
 '19-12-22-13',
 '20-07-11-11',
 '21-03-14-14',
 '17-11-19-9',
 '18-05-27-9',
 '19-11-10-8',
 '20-08-22-9',
 '19-12-07-9',
 '18-07-22-11',
 '19-12-08-9',
 '20-02-02-1',
 '19-10-06-5',
 '19-01-20-7',
 '21-05-16-3',
 '19-04-21-9',
 '17-11-19-1',
 '18-12-16-8',
 '19-10-06-8',
 '19-09-07-9',
 '19-03-10-10',
 '18-10-07-11',
 '20-02-16-11',
 '20-11-15-8',
 '20-02-01-9',
 '21-01-08-6',
 '21-06-19-8',
 '20-07-11-8',
 '19-03-17-7',
 '18-11-25-9',
 '19-12-22-6',
 '20-01-19-5',
 '18-11-03-5',
 '19-01-20-10',
 '19-08-11-12',
 '20-06-21-2',
 '19-03-03-8',
 '19-09-07-12',
 '18-12-16-4',
 '20-08-22-14',
 '20-08-15-10',
 '20-07-11-5',
 '19-07-13-9',
 '20-07-12-8',
 '20-08-22-3',
 '18-11-24-7',
 '20-07-18-12',
 '20-02-09-5',
 '20-07-12-7',
 '20-01-11-9',
 '21-05-01-1',
 '20-07-11-9',
 '19-08-24-8',
 '20-06-21-12',
 '21-02-05-6',
 '18-12-22-10',
 '18-11-25-10',
 '19-11-10-2',
 '20-01-05-3',
 '18-10-14-10',
 '21-09-04-5',
 '20-02-15-5',
 '20-06-28-2',
 '21-08-08-4',
 '19-11-02-8',
 '18-09-30-8',
 '19-07-07-8',
 '20-02-02-2',
 '20-11-22-9',
 '20-07-19-7',
 '19-11-10-9',
 '19-04-27-11',
 '21-06-05-6',
 '19-12-01-11',
 '19-01-06-8',
 '20-01-12-11',
 '20-08-16-7',
 '19-11-16-3',
 '19-12-14-4',
 '20-07-11-7',
 '20-01-12-1',
 '20-08-01-11',
 '21-03-07-6',
 '20-07-12-2',
 '20-11-21-5',
 '20-11-01-6',
 '20-08-02-2',
 '21-02-28-4',
 '19-10-27-1',
 '19-06-29-6',
 '20-07-12-1',
 '21-08-15-7',
 '20-01-11-2',
 '19-04-06-6',
 '18-11-18-5',
 '20-12-20-4',
 '19-09-07-2',
 '21-03-28-5',
 '18-09-02-4',
 '18-10-06-3',
 '19-07-20-7',
 '19-12-22-14',
 '20-01-19-7',
 '20-01-05-10',
 '20-07-04-12',
 '20-01-04-9',
 '22-01-15-4',
 '21-01-22-3',
 '19-05-25-1',
 '21-05-01-3',
 '20-08-08-4',
 '21-09-12-4',
 '20-02-09-6',
 '20-06-27-7',
 '20-01-11-12',
 '20-01-11-11',
 '19-10-26-11',
 '19-02-24-10',
 '20-06-21-4',
 '20-06-27-8',
 '20-06-28-13',
 '20-01-19-1',
 '19-11-23-2',
 '22-01-09-7',
 '19-12-01-2',
 '18-11-11-6',
 '20-07-26-1',
 '19-03-31-10',
 '20-01-04-7',
 '19-12-08-2',
 '19-02-23-8',
 '19-06-29-1',
 '19-11-16-4',
 '19-08-25-11',
 '20-06-20-8',
 '20-08-30-7',
 '19-10-12-6',
 '20-07-05-4',
 '20-07-18-5',
 '19-09-08-9',
 '21-05-01-4',
 '20-01-18-6',
 '20-07-26-9',
 '20-07-12-5',
 '19-08-10-5',
 '19-01-27-1',
 '19-09-08-6',
 '20-08-30-2',
 '20-07-11-1',
 '19-08-17-11',
 '20-06-27-2',
 '20-11-15-4',
 '21-01-22-5',
 '19-07-21-10',
 '19-11-30-2',
 '20-02-09-3',
 '19-06-23-7',
 '20-11-15-9',
 '20-08-22-12',
 '18-12-01-7',
 ...]

In [23]:
len(delete_list)

2060

In [22]:
asdf = df_horse

In [24]:
for i in asdf.index :
    if asdf.at[i, "race_id"] in delete_list:
        asdf.drop(index = [i], inplace = True)

In [25]:
asdf.reset_index(inplace=True)
asdf.drop(columns=['index'], inplace=True)

In [26]:
asdf.to_csv('./data/asdf.csv')