추가:  
append( 그냥 뒤에 추가 )  
insert( 중간에 끼워 젛기 -> where, what )  

제거:  
remove( 값 -> 동일 값 존재 시 맨 앞의 원소만 제거가 됨)  
pop( 위치 )  
리스트의 기능(메서드)을 활용하면 리스트 자체가 바로 값이 변화 -> 재할당 필요가 없음

In [4]:
ages = {'Matt': 30, 'Katie': 29, 'Nik': 31, 'Jack': 43, 'Alison': 32, 'Kevin': 38}

# Get the max value in a Python dict
max_value = max(ages.values())
print(max_value)
# Returns: 43


# Get the key for a dict's max value
max_key = max(ages, key=ages.get)
print(max_key)
# Returns Jack

43
Jack

In [14]:
for i, (k, v) in enumerate(ages.items()):
    print(i, k, v)

0 Matt 30
1 Katie 29
2 Nik 31
3 Jack 43
4 Alison 32
5 Kevin 38

In [7]:
for k, v in ages.items():
    print(k)
    print(v)

Matt
30
Katie
29
Nik
31
Jack
43
Alison
32
Kevin
38

In [8]:
for i in ages.items():
    print(i)

('Matt', 30)
('Katie', 29)
('Nik', 31)
('Jack', 43)
('Alison', 32)
('Kevin', 38)

In [16]:
for i, letter in enumerate(['A', 'B', 'C']):
    print(i, letter)
for i, letter in enumerate(['A', 'B', 'C'], start=1):
    print(i, letter)

0 A
1 B
2 C
1 A
2 B
3 C

## 잠시 퀴즈

In [19]:
grade = {'원빈': [100, 80], '장동건': [95, 90], '송중기': [91, 98], '공유': [85, 99]}

In [22]:
for k, v in grade.items():
    grade[k].append((v[0]+v[1])/2)
print(grade)

{'원빈': [100, 80, 90.0], '장동건': [95, 90, 92.5], '송중기': [91, 98, 94.5], '공유': [85, 99, 92.0]}

## 자료유형 잘 선택
### 완주하지 못한 선수 연습문제

In [92]:
# participant: 마라톤에 참여한 선수들 명단
# completion: 완주한 선수들 명단
# return: 완주하지 못한 선수들 명단

participant = ["marina", "josipa", "nikola", "vinko", "filipa"]
completion = ["josipa", "filipa", "marina", "nikola"]

In [39]:
def solution(participant, completion):
    answer = ''
    
    for i in completion:
        participant.remove(i)
        
    answer = participant[0]
    return answer

In [81]:
def solution(participant, completion):
    answer = ''
    
    for i in participant:
        try:
            completion.remove(i)
        except ValueError:
            answer = i
            break

    return answer

In [100]:
def solution(participant, completion):
    answer = ''
    counts = { }                         # 빈 딕셔너리
    
    for i in participant:                # 참여자 loop
        if i not in counts:             # 신규참여자 딕셔너리에 value 1로 할당
            counts[i] = 1                
        else:                            # 동명이인 딕셔너리에 value +1 증가시킴
            counts[i] += 1
            
    for k in completion:                 # 완주자 loop
        if k in counts:                  # 딕셔너리에 value -1 감소시킴
            counts[k] -= 1
    
    answer = max(counts, key=counts.get)  # 완주자 value값=0, 미완주자 value값=1
    
    return answer

In [101]:
solution(participant, completion)

'vinko'

## 자료유형 잘 선택
### 위장 연습문제

In [102]:
clothes = [["yellow_hat", "headgear"], 
           ["blue_sunglasses", "eyewear"], 
           ["green_turban", "headgear"]]

In [114]:
for v, k in clothes:
    print(v, k)

yellow_hat headgear
blue_sunglasses eyewear
green_turban headgear

In [125]:
from collections import defaultdict

def solution(clothes):
    answer = 1
    dict = defaultdict(list)               # dict의 value형을 list로 정함
    
    for v, k in clothes:
        dict[k].append(v)                  # dict 생성
    
    for i in dict.keys():
        answer *= (len(dict[i]) + 1)       # 각 key마다 (value의 길이+1)해서 (선택할 경우의 수= 각 key마다 0개, 1개, ..., n개)
                                           # 정답에 곱해준다
    answer -= 1                            # 1을 빼준다
                                           # 적어도 1개의 옷은 입어야 하니 (전체 경우의 수 - 1)
    return answer

In [126]:
solution(clothes)

5

# lambda

In [127]:
score = [('A', 0), ('B', 1), ('C', 5), ('D', 3), ('E', 5)]

In [128]:
sorted(score, key = lambda x : x[0])

[('A', 0), ('B', 1), ('C', 5), ('D', 3), ('E', 5)]

In [129]:
sorted(score, key = lambda x : x[1])

[('A', 0), ('B', 1), ('D', 3), ('C', 5), ('E', 5)]

In [130]:
sorted(score, key = lambda x : x[1], reverse=True)

[('C', 5), ('E', 5), ('D', 3), ('B', 1), ('A', 0)]

## 정렬기준이 여러개일 때

In [131]:
score_list = [('A', 0), ('B', 5), ('AA', 3),
             ('C', 5), ('B', 1), ('Z', 5),
             ('D', 3), ('E', 5)]
score_list

[('A', 0),
 ('B', 5),
 ('AA', 3),
 ('C', 5),
 ('B', 1),
 ('Z', 5),
 ('D', 3),
 ('E', 5)]

In [132]:
sorted(score_list)

[('A', 0),
 ('AA', 3),
 ('B', 1),
 ('B', 5),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('Z', 5)]

In [133]:
# 첫번째 기준으로만 정렬
sorted(score_list, key = lambda x:x[0])

[('A', 0),
 ('AA', 3),
 ('B', 5),
 ('B', 1),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('Z', 5)]

In [137]:
# 첫번째 기준으로 정렬 후, 같은 값들은 두번째 기준으로 재정렬
sorted(score_list, key = lambda x:(x[0], x[1]))

[('A', 0),
 ('AA', 3),
 ('B', 1),
 ('B', 5),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('Z', 5)]

In [138]:
# 첫번째 기준으로 오름차순 정렬 후, 같은 값들은 두번째 기준으로 내림차순 재정렬
sorted(score_list, key = lambda x:(x[0], -x[1]))

[('A', 0),
 ('AA', 3),
 ('B', 5),
 ('B', 1),
 ('C', 5),
 ('D', 3),
 ('E', 5),
 ('Z', 5)]