In [1]:
import numpy as np
import pandas as pd

In [ ]:
# 기존의 방식 ) 인덱스 자리에 내가 필요한
#               정수 인덱스, 내가 만든 인덱스

In [ ]:
#  1개 at, iat
#  여러개 loc, iloc

In [2]:
# 주식가격 리스트를 pandas series로 만들기.
stock_price_list = [10000,10300,9900,10500,11000]
stock_price_array = np.array(stock_price_list)
stock_price_series = pd.Series(stock_price_list)

print(stock_price_list)
print(stock_price_array)
print(stock_price_series)

[10000, 10300, 9900, 10500, 11000]
[10000 10300  9900 10500 11000]
0    10000
1    10300
2     9900
3    10500
4    11000
dtype: int64

In [3]:
stock_price_Series_index = pd.Series(stock_price_list,
                                    index=["2022-10-01",
                                           "2022-10-02",
                                           "2022-10-03",
                                           "2022-10-04",
                                           "2022-10-5"])

In [4]:
stock_price_Series_index

2022-10-01    10000
2022-10-02    10300
2022-10-03     9900
2022-10-04    10500
2022-10-5     11000
dtype: int64

In [5]:
stock_price_Series_index.at['2022-10-01']

10000

In [7]:
stock_price_Series_index[0]

10000

In [8]:
stock_price_Series_index.iat[0]

10000

In [9]:
stock_price_Series_index.iloc[0]

10000

In [10]:
stock_price_Series_index.iloc[0:3]

2022-10-01    10000
2022-10-02    10300
2022-10-03     9900
dtype: int64

In [12]:
stock_price_Series_index.loc["2022-10-01":"2022-10-03"]

2022-10-01    10000
2022-10-02    10300
2022-10-03     9900
dtype: int64

In [14]:
stock_price_Series_index.min()

9900

In [16]:
stock_price_Series_index.max()

11000

In [17]:
stock_price_Series_index.count()

5

In [ ]:
# pandas에서 데이터를 지우는 기능 drop
# option
# 가로 줄 제거 (rocord) : axis = 0
# 세로 줄 제거(column) : axis = 1
# inplace = True : 원본을 바꾼다
# inplace = False : 당장의 출력값에서만 바꾼다 (default)

In [ ]:
# 세로 줄 제거
# column명 기준
# df.drop(column1, axis = 0)

In [ ]:
# 가로 줄 제거
# 인덱스 기준
# df.drop(인덱스, axis = 1)

In [ ]:
# 누락 되었다면 1번 컬럼은 0으로 채우고 2번 컬럼은 100으로 채우고 싶을 때
# data.fillna( {1:0, 2:100} )