In [6]:
import pandas as pd

In [11]:
data = pd.read_csv("C:/Users/NTX550/Documents/GitHub/T_ACADEMY_ASAC/Numpy/data/01_olive.csv")
data

,Unnamed: 0,region,area,palmitic,palmitoleic,stearic,oleic,linoleic,linolenic,arachidic,eicosenoic
0,1.North-Apulia,1,1,1075,75,226,7823,672,36,60,29
1,2.North-Apulia,1,1,1088,73,224,7709,781,31,61,29
2,3.North-Apulia,1,1,911,54,246,8113,549,31,63,29
3,4.North-Apulia,1,1,966,57,240,7952,619,50,78,35
4,5.North-Apulia,1,1,1051,67,259,7771,672,50,80,46
...,...,...,...,...,...,...,...,...,...,...,...
567,568.West-Liguria,3,8,1280,110,290,7490,790,10,10,2
568,569.West-Liguria,3,8,1060,100,270,7740,810,10,10,3
569,570.West-Liguria,3,8,1010,90,210,7720,970,0,0,2
570,571.West-Liguria,3,8,990,120,250,7750,870,10,10,2
571,572.West-Liguria,3,8,960,80,240,7950,740,10,20,2

In [12]:
data.shape

(572, 11)